biopython==1.83
chardet==5.2.0
# Editable install with no version control (CNVkit==0.9.12.dev0)
-e /home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/cnvkit
contourpy==1.2.1
cycler==0.12.1
Cython==0.29.37
dnspython==2.6.1
et-xmlfile==1.1.0
fonttools==4.51.0
hdbscan==0.8.33
importlib_metadata==7.1.0
joblib==1.4.2
kaleido==0.2.1
kiwisolver==1.4.5
llvmlite==0.42.0
matplotlib==3.8.4
mongoengine==0.28.2
natsort==8.3.1
networkx==3.3
numba==0.59.1
numpy==1.26.4
nvidia-nccl-cu12==2.22.3
openpyxl==3.1.2
packaging==24.0
pandas==2.2.2
pillow==10.3.0
plotly==5.22.0
pomegranate==0.14.9
pybedtools==0.10.0
pyBigWig==0.3.22
pyfaidx==0.8.1.1
pyliftover==0.4.1
pymongo==4.7.1
pynndescent==0.5.12
pyparsing==3.1.2
pysam==0.20.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
reportlab==4.2.0
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
six==1.16.0
tenacity==8.3.0
threadpoolctl==3.5.0
tqdm==4.66.4
tzdata==2024.1
umap==0.1.1
umap-learn==0.5.6
xgboost==2.1.0
zipp==3.18.1
