/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36462.rmdup.bam	chr10	54009245	54055742	DEL	PRKG1_11_to_18	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36462.rmdup.bam	chr1	115249071	115254425	DUP	NRAS_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36462.rmdup.bam	chr12	21998007	21999295	DEL	ABCC9	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36462.rmdup.bam	chr5	131722135	131723423	DUP	SLC22A5	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37875.rmdup.bam	chr7	83687707	83825978	DEL	SEMA3A_12_to_16	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37875.rmdup.bam	chr2	40402811	40407711	DUP	SLC8A1_8_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37875.rmdup.bam	chr6	75890122	75891458	DEL	COL12A1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37875.rmdup.bam	chr7	94043963	94045155	DUP	COL1A2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38126.rmdup.bam	chr3	30684202	30717811	DEL	TGFBR2_3_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38126.rmdup.bam	chr16	30908650	30915893	DUP	CTF1_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38126.rmdup.bam	chr9	137653189	137654405	DEL	COL5A1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38126.rmdup.bam	chr15	66778989	66780205	DUP	MAP2K1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38127.rmdup.bam	chr16	30908650	30915893	DEL	CTF1_2_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38127.rmdup.bam	chr10	101481676	101493881	DUP	COX15_7_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38127.rmdup.bam	chr12	22068066	22069378	DEL	ABCC9	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38127.rmdup.bam	chr1	1167125	1169181	DUP	B3GALT6	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38128.rmdup.bam	chr10	18653901	18797557	DEL	CACNB2_6_to_11	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38128.rmdup.bam	chr5	131717759	131732040	DUP	SLC22A5_3_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38128.rmdup.bam	chr1	218577935	218579247	DEL	TGFB2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38128.rmdup.bam	chr7	30065393	30066657	DUP	FKBP14	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38129.rmdup.bam	chr19	47107002	47114491	DEL	CALM3_3_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38129.rmdup.bam	chr7	151259080	151275617	DUP	PRKAG2_3_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38129.rmdup.bam	chr1	237814135	237815375	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38130.rmdup.bam	chr6	123707585	123716903	DEL	TRDN_27_to_28	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38130.rmdup.bam	chr3	20200513	20221920	DUP	SGOL1_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38130.rmdup.bam	chr18	3173358	3174781	DEL	MYOM1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38130.rmdup.bam	chr9	137621545	137622857	DUP	COL5A1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38136.rmdup.bam	chr14	76435389	76449264	DEL	TGFB3_5_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38136.rmdup.bam	chr5	127708237	127733046	DUP	FBN2_50_to_56	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38136.rmdup.bam	chr5	37333029	37334269	DEL	NUP155	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38136.rmdup.bam	chr9	137618533	137619821	DUP	COL5A1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38137.rmdup.bam	chr15	52437568	52478954	DEL	GNB5_8_to_12	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38137.rmdup.bam	chr10	67678051	68042459	DUP	CTNNA3_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38137.rmdup.bam	chr6	133803591	133804831	DEL	EYA4	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38137.rmdup.bam	chr3	38671216	38672504	DUP	SCN5A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38138.rmdup.bam	chr18	32393793	32411528	DEL	DTNA_6_to_12	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38138.rmdup.bam	chr10	18785200	18791952	DUP	CACNB2_9_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38138.rmdup.bam	chr10	121431239	121432695	DEL	BAG3	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38138.rmdup.bam	chr7	83823214	83824478	DUP	SEMA3A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38140.rmdup.bam	chr12	114791299	114806228	DEL	TBX5_1_to_2	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38140.rmdup.bam	chr19	4088518	4112735	DUP	MAP2K2_1_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38140.rmdup.bam	chr9	137676256	137677520	DEL	COL5A1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38140.rmdup.bam	chr6	75800463	75801819	DUP	COL12A1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38141.rmdup.bam	chrX	31193971	31224312	DEL	DMD_9_to_13	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38141.rmdup.bam	chr4	113968806	114097754	DUP	ANK2_3_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38141.rmdup.bam	chr15	52439068	52440308	DEL	GNB5	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38141.rmdup.bam	chr6	75804239	75805479	DUP	COL12A1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38143.rmdup.bam	chr12	114801868	114834777	DEL	TBX5_2_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38143.rmdup.bam	chr5	155769472	156188434	DUP	SGCD_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38143.rmdup.bam	chr14	50624703	50625943	DEL	SOS2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38143.rmdup.bam	chr5	86665053	86666293	DUP	RASA1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38144.rmdup.bam	chr6	76543537	76560277	DEL	MYO6_6_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38144.rmdup.bam	chr4	186433349	186448405	DUP	PDLIM3_5_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38144.rmdup.bam	chr4	114231826	114233138	DEL	ANK2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38145.rmdup.bam	chr18	34227203	34275422	DEL	FHOD3_11_to_17	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38145.rmdup.bam	chr7	81665315	81697913	DUP	CACNA2D1_29_to_33	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38145.rmdup.bam	chr20	61047926	61049166	DEL	GATA5	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38145.rmdup.bam	chr7	91673792	91675056	DUP	AKAP9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38146.rmdup.bam	chr5	155754503	156076629	DEL	SGCD_1_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38146.rmdup.bam	chr3	30646302	30717811	DUP	TGFBR2_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38146.rmdup.bam	chrX	31854254	31855518	DEL	DMD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38146.rmdup.bam	chr4	114208177	114209441	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38147.rmdup.bam	chr10	68938044	69368842	DEL	CTNNA3_13_to_17	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38147.rmdup.bam	chr12	112881996	112895942	DUP	PTPN11_2_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38147.rmdup.bam	chr16	15846675	15847939	DEL	MYH11	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38147.rmdup.bam	chr14	23889591	23890831	DUP	MYH7	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38148.rmdup.bam	chr10	121409157	121434195	DEL	BAG3_1_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38148.rmdup.bam	chr3	57873689	57904913	DUP	SLMAP_13_to_20	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38148.rmdup.bam	chr12	21994670	21995982	DEL	ABCC9	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38148.rmdup.bam	chrX	107838164	107839404	DUP	COL4A5	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38149.rmdup.bam	chr6	116745707	116760540	DEL	DSE_3_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38149.rmdup.bam	chr4	120055598	120087577	DUP	MYOZ2_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38149.rmdup.bam	chrX	107908156	107909396	DEL	COL4A5	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38149.rmdup.bam	chr3	189583896	189585160	DUP	TP63	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38150.rmdup.bam	chr5	121407629	121415712	DEL	LOX_4_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38150.rmdup.bam	chr3	30646302	30732083	DUP	TGFBR2_1_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38150.rmdup.bam	chrX	32482127	32483391	DEL	DMD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38150.rmdup.bam	chr9	137653189	137654405	DUP	COL5A1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38151.rmdup.bam	chr7	151263720	151331297	DEL	PRKAG2_6_to_12	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38151.rmdup.bam	chr1	218534597	218612917	DUP	TGFB2_2_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38151.rmdup.bam	chr12	112923731	112924971	DEL	PTPN11	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38151.rmdup.bam	chr12	22000499	22001763	DUP	ABCC9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38152.rmdup.bam	chr7	112405225	112417457	DEL	TMEM168_1_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38152.rmdup.bam	chr3	30646302	30666847	DUP	TGFBR2_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38152.rmdup.bam	chr7	91642982	91644222	DEL	AKAP9	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38152.rmdup.bam	chr19	45882870	45884062	DUP	PPP1R13L	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38153.rmdup.bam	chr6	116752477	116760540	DEL	DSE_5_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38153.rmdup.bam	chr17	45289082	45302489	DUP	MYL4_2_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38153.rmdup.bam	chr22	21339549	21340765	DEL	LZTR1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38153.rmdup.bam	chr5	127673107	127674395	DUP	FBN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38154.rmdup.bam	chr1	3317326	3324291	DEL	PRDM16_6_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38154.rmdup.bam	chr12	114791299	114834777	DUP	TBX5_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38154.rmdup.bam	chr7	35292523	35293811	DEL	TBX20	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38154.rmdup.bam	chr6	75874690	75876026	DUP	COL12A1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38155.rmdup.bam	chr20	45351649	45364553	DEL	SLC2A10_3_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38155.rmdup.bam	chr9	108364466	108404488	DUP	FKTN_5_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38155.rmdup.bam	chr15	48904627	48905867	DEL	FBN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38155.rmdup.bam	chr12	112883496	112884784	DUP	PTPN11	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38156.rmdup.bam	chr14	76423452	76440135	DEL	TGFB3_1_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38156.rmdup.bam	chr11	119156476	119179154	DUP	CBL_11_to_16	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38156.rmdup.bam	chr9	137717061	137718325	DEL	COL5A1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38156.rmdup.bam	chrX	31197910	31199174	DUP	DMD	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38157.rmdup.bam	chr3	141257292	141280918	DEL	RASA2_5_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38157.rmdup.bam	chr7	91672292	91693825	DUP	AKAP9_21_to_24	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38157.rmdup.bam	chr2	179602279	179603615	DEL	TTN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38157.rmdup.bam	chr9	137702603	137704023	DUP	COL5A1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38158.rmdup.bam	chr17	28523390	28541965	DEL	SLC6A4_1_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38158.rmdup.bam	chr3	12630264	12643996	DUP	RAF1_5_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38158.rmdup.bam	chr3	38649065	38650281	DEL	SCN5A	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38158.rmdup.bam	chr18	3115800	3117040	DUP	MYOM1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38162.rmdup.bam	chr3	12642898	12652914	DEL	RAF1_9_to_13	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38162.rmdup.bam	chr9	101889103	101913668	DUP	TGFBR1_2_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38162.rmdup.bam	chr3	14174653	14175893	DEL	TMEM43	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38162.rmdup.bam	chr15	35086300	35087588	DUP	ACTC1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38163.rmdup.bam	chr4	120083337	120109381	DEL	MYOZ2_4_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38163.rmdup.bam	chr19	50136754	50142463	DUP	RRAS_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38163.rmdup.bam	chr15	48757183	48758628	DEL	FBN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38163.rmdup.bam	chrX	11315813	11316993	DUP	AMELX-E05	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38168.rmdup.bam	chr10	18427581	18658093	DEL	CACNB2_1_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38168.rmdup.bam	chr15	52431258	52474152	DUP	GNB5_7_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38168.rmdup.bam	chr9	137726289	137727577	DEL	COL5A1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38168.rmdup.bam	chr4	114244336	114245528	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38170.rmdup.bam	chr7	151476209	151575780	DEL	PRKAG2_15_to_17	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38170.rmdup.bam	chr5	121400356	121408368	DUP	LOX_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38170.rmdup.bam	chr12	112883496	112884784	DEL	PTPN11	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38170.rmdup.bam	chr10	90697288	90698528	DUP	ACTA2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38171.rmdup.bam	chr9	137580721	137595253	DEL	COL5A1_2_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38171.rmdup.bam	chr5	155769472	156188434	DUP	SGCD_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38171.rmdup.bam	chr4	114238281	114239545	DEL	ANK2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38171.rmdup.bam	chr19	35522894	35524134	DUP	SCN1B	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38497.rmdup.bam	chr5	177032271	177038774	DEL	B4GALT7_3_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38497.rmdup.bam	chr10	121429739	121438828	DUP	BAG3_3_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38497.rmdup.bam	chr3	141277145	141278385	DEL	RASA2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38497.rmdup.bam	chr1	156099061	156100277	DUP	LMNA	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38558.rmdup.bam	chr7	35278413	35295311	DEL	TBX20_4_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38558.rmdup.bam	chr10	67678051	67865080	DUP	CTNNA3_1_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38558.rmdup.bam	chr5	131713271	131714753	DEL	SLC22A5	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38558.rmdup.bam	chrX	32661719	32662959	DUP	DMD	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38561.rmdup.bam	chr5	156072389	156188434	DEL	SGCD_6_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38561.rmdup.bam	chr15	38589540	38645899	DUP	SPRED1_2_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38561.rmdup.bam	chr18	45422365	45423653	DEL	SMAD2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38561.rmdup.bam	chr1	236923737	236925049	DUP	ACTN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38562.rmdup.bam	chr4	88975208	88981338	DEL	PKD2_8_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38562.rmdup.bam	chr12	111346797	111355676	DUP	MYL2_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38562.rmdup.bam	chr18	3066726	3068086	DEL	MYOM1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38562.rmdup.bam	chr12	22058484	22059796	DUP	ABCC9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38563.rmdup.bam	chr1	218534597	218612917	DEL	TGFB2_2_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38563.rmdup.bam	chr2	105975659	105992222	DUP	FHL2_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38563.rmdup.bam	chr6	76590826	76592114	DEL	MYO6	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38563.rmdup.bam	chr10	53667806	53669181	DUP	chr10:53668523-53668641,PRKG1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38566.rmdup.bam	chr7	30060200	30068157	DEL	FKBP14_3_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38566.rmdup.bam	chrX	31695465	31749938	DUP	DMD_29_to_30	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38566.rmdup.bam	chr1	237867933	237869221	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38566.rmdup.bam	chr3	192444391	192445559	DUP	FGF12	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38567.rmdup.bam	chrX	31790048	31895517	DEL	DMD_31_to_34	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38567.rmdup.bam	chr4	120069991	120087577	DUP	MYOZ2_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38567.rmdup.bam	chr5	127674044	127675332	DEL	FBN2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38567.rmdup.bam	chr3	141278154	141279418	DUP	RASA2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38570.rmdup.bam	chr4	120055598	120087577	DEL	MYOZ2_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38570.rmdup.bam	chr7	30056531	30068157	DUP	FKBP14_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38570.rmdup.bam	chrX	119579576	119580864	DEL	LAMP2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38570.rmdup.bam	chr18	3071251	3072467	DUP	MYOM1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38571.rmdup.bam	chr15	48782576	48793316	DEL	FBN1_39_to_45	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38571.rmdup.bam	chr10	68379375	69283803	DUP	CTNNA3_9_to_15	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38571.rmdup.bam	chr7	81603187	81604451	DEL	CACNA2D1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38571.rmdup.bam	chr3	123336907	123338195	DUP	MYLK	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38574.rmdup.bam	chr6	116718332	116760540	DEL	DSE_2_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38574.rmdup.bam	chr7	30052273	30064512	DUP	FKBP14_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38574.rmdup.bam	chr12	114839045	114840309	DEL	TBX5	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38574.rmdup.bam	chr1	92192633	92193945	DUP	TGFBR3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38575.rmdup.bam	chr5	127708237	127746573	DEL	FBN2_50_to_57	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38575.rmdup.bam	chr7	30052273	30064512	DUP	FKBP14_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38575.rmdup.bam	chr1	237764747	237765987	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38575.rmdup.bam	chr18	25727060	25728324	DUP	CDH2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38576.rmdup.bam	chrX	32378869	32406660	DEL	DMD_46_to_50	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38576.rmdup.bam	chr2	155564082	155713855	DUP	KCNJ3_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38576.rmdup.bam	chr4	65240307	65241523	DEL	TECRL	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38576.rmdup.bam	chr16	15857068	15858332	DUP	MYH11	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38577.rmdup.bam	chr4	120069991	120087577	DEL	MYOZ2_2_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38577.rmdup.bam	chr11	118035569	118041502	DUP	SCN2B_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38577.rmdup.bam	chr7	92083287	92084527	DEL	GATAD1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38577.rmdup.bam	chr6	133851771	133852939	DUP	EYA4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38578.rmdup.bam	chr12	114801868	114839521	DEL	TBX5_2_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38578.rmdup.bam	chr5	86646892	86667793	DUP	RASA1_11_to_14	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38578.rmdup.bam	chr6	76579786	76580978	DEL	MYO6	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38578.rmdup.bam	chr7	140453401	140454617	DUP	BRAF	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38579.rmdup.bam	chr7	83604371	83633436	DEL	SEMA3A_3_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38579.rmdup.bam	chr10	121409157	121434195	DUP	BAG3_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38579.rmdup.bam	chr6	123709085	123710277	DEL	TRDN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38579.rmdup.bam	chr1	16047245	16048461	DUP	PLEKHM2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38580.rmdup.bam	chr12	25376471	25400394	DEL	KRAS_3_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38580.rmdup.bam	chr12	112881996	112890350	DUP	PTPN11_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38580.rmdup.bam	chr19	16592682	16594174	DEL	CALR3	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38580.rmdup.bam	chr18	28666001	28667241	DUP	DSC2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38589.rmdup.bam	chr15	67428281	67479277	DEL	SMAD3_3_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38589.rmdup.bam	chr16	30908650	30915893	DUP	CTF1_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38589.rmdup.bam	chr7	91737233	91738521	DEL	AKAP9	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38589.rmdup.bam	chr3	123427011	123428275	DUP	MYLK	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38592.rmdup.bam	chr14	76423452	76440135	DEL	TGFB3_1_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38592.rmdup.bam	chr18	3185400	3217256	DUP	MYOM1_31_to_34	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38592.rmdup.bam	chr1	237861686	237862902	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38592.rmdup.bam	chr3	38754865	38756153	DUP	SCN10A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38595.rmdup.bam	chr15	66772010	66785028	DEL	MAP2K1_7_to_12	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38595.rmdup.bam	chr3	30711097	30732083	DUP	TGFBR2_5_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38595.rmdup.bam	chr18	45396270	45397510	DEL	SMAD2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38595.rmdup.bam	chr19	4096700	4097916	DUP	MAP2K2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38596.rmdup.bam	chr3	192051069	192128044	DEL	FGF12_3_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38596.rmdup.bam	chr7	30060200	30068157	DUP	FKBP14_3_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38596.rmdup.bam	chr5	127713879	127715167	DEL	FBN2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38596.rmdup.bam	chr15	52476166	52477454	DUP	GNB5	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38614.rmdup.bam	chr4	114201797	114236929	DEL	ANK2_21_to_28	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38614.rmdup.bam	chr7	112410804	112426916	DUP	TMEM168_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38614.rmdup.bam	chr1	156084183	156085591	DEL	LMNA	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38614.rmdup.bam	chr1	236911849	236913137	DUP	ACTN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38616.rmdup.bam	chr3	20210119	20214749	DEL	SGOL1_2_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38616.rmdup.bam	chr14	73657317	73666919	DUP	PSEN1_5_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38616.rmdup.bam	chr5	37340611	37341923	DEL	NUP155	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38616.rmdup.bam	chr5	131722135	131723423	DUP	SLC22A5	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38617.rmdup.bam	chr7	83629196	83677843	DEL	SEMA3A_6_to_11	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38617.rmdup.bam	chr1	162333105	162339289	DUP	NOS1AP_9_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38617.rmdup.bam	chr18	25569531	25570843	DEL	CDH2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38617.rmdup.bam	chr7	91641217	91642481	DUP	AKAP9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38620.rmdup.bam	chrX	31188389	31203057	DEL	DMD_7_to_12	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38620.rmdup.bam	chr19	35527947	35532679	DUP	SCN1B_4_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38620.rmdup.bam	chr15	30247856	30249144	DEL	TJP1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38620.rmdup.bam	chr1	237776808	237778672	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38621.rmdup.bam	chr1	92172135	92189726	DEL	TGFBR3_4_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38621.rmdup.bam	chr10	75861499	75873900	DUP	VCL_14_to_18	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38621.rmdup.bam	chr1	237654520	237655808	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38621.rmdup.bam	chr18	3071251	3072467	DUP	MYOM1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38623.rmdup.bam	chr2	40395346	40659452	DEL	SLC8A1_5_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38623.rmdup.bam	chr15	73612787	73638177	DUP	HCN4_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38623.rmdup.bam	chr5	177030644	177032076	DEL	B4GALT7	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38623.rmdup.bam	chr1	237881183	237882399	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38630.rmdup.bam	chr18	48582410	48606863	DEL	SMAD4_5_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38630.rmdup.bam	chr4	186421422	186431752	DUP	PDLIM3_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38630.rmdup.bam	chr6	123702681	123703873	DEL	TRDN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38630.rmdup.bam	chr18	3115800	3117040	DUP	MYOM1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38632.rmdup.bam	chrX	31891277	32237212	DEL	DMD_34_to_39	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38632.rmdup.bam	chr4	186421422	186448405	DUP	PDLIM3_1_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38632.rmdup.bam	chr16	15851150	15852390	DEL	MYH11	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38632.rmdup.bam	chr3	57893027	57894315	DUP	SLMAP	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38633.rmdup.bam	chr18	25560833	25575676	DEL	CDH2_3_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38633.rmdup.bam	chr4	121717344	121762507	DUP	PRDM5_7_to_14	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38633.rmdup.bam	chr15	66776796	66778060	DEL	MAP2K1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38633.rmdup.bam	chr18	45377063	45378279	DUP	SMAD2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38634.rmdup.bam	chr14	73612650	73661605	DEL	PSEN1_1_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38634.rmdup.bam	chr16	15845175	15872115	DUP	MYH11_23_to_30	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38634.rmdup.bam	chr10	67862340	67863580	DEL	CTNNA3	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38634.rmdup.bam	chr20	30410700	30411964	DUP	MYLK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38635.rmdup.bam	chr1	116285370	116313189	DEL	CASQ2_10_to_11	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38635.rmdup.bam	chr10	54009245	54034316	DUP	PRKG1_11_to_13	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38635.rmdup.bam	chr5	156073889	156075129	DEL	SGCD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38635.rmdup.bam	chr18	29100190	29101789	DUP	DSG2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38636.rmdup.bam	chr14	73638237	73661605	DEL	PSEN1_3_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38636.rmdup.bam	chr7	35240007	35286746	DUP	TBX20_1_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38636.rmdup.bam	chrX	11315813	11316993	DEL	AMELX-E05	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38636.rmdup.bam	chr10	75833924	75835236	DUP	VCL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38637.rmdup.bam	chr2	39231479	39244066	DEL	SOS1_7_to_13	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38637.rmdup.bam	chr1	92182788	92265055	DUP	TGFBR3_8_to_15	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38637.rmdup.bam	chr10	69907534	69908798	DEL	MYPN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38637.rmdup.bam	chr7	150674343	150675583	DUP	KCNH2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38638.rmdup.bam	chr3	53767321	53776444	DEL	CACNA1D_23_to_24	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38638.rmdup.bam	chr18	29119072	29128734	DUP	DSG2_12_to_14	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38638.rmdup.bam	chr2	39238733	39240021	DEL	SOS1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38638.rmdup.bam	chr2	47398979	47400171	DUP	CALM2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38639.rmdup.bam	chr18	32441845	32472477	DEL	DTNA_18_to_25	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38639.rmdup.bam	chr2	105987982	106005006	DUP	FHL2_4_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38639.rmdup.bam	chr7	94047229	94048445	DEL	COL1A2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38639.rmdup.bam	chr3	38796743	38797983	DUP	SCN10A	3	single
