/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB16246.rmdup.bam	chr5	131717763	131732018	DEL	SLC22A5_3_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB34669.rmdup.bam	chr1	237492102	237542811	DEL	RYR2_3_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35019.rmdup.bam	chr12	33019785	33051816	DEL	PKP2_11_to_14	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35445.rmdup.bam	chr3	12643559	12662271	DEL	RAF1_9_to_14	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35459.rmdup.bam	chr14	50639096	50700153	DEL	SOS2_15_to_22	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35460.rmdup.bam	chr6	123574138	123579139	DEL	TRDN_5_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35887.rmdup.bam	chr11	118005691	118014126	DEL	SCN4B_1_to_2	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35975.rmdup.bam	chr1	78399431	78410565	DEL	NEXN_8_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35976.rmdup.bam	chr1	112316647	112331804	DEL	KCND3_1_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35977.rmdup.bam	chr5	127698217	127716658	DEL	FBN2_48_to_54	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35978.rmdup.bam	chr12	2556066	2624226	DEL	CACNA1C_4_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35979.rmdup.bam	chr10	112555190	112593015	DEL	RBM20_6_to_13	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35983.rmdup.bam	chr1	237839269	237852889	DEL	RYR2_61_to_63	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35984.rmdup.bam	chr1	112327489	112527400	DEL	KCND3_6_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35985.rmdup.bam	chr5	155769423	156188452	DEL	SGCD_2_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36018.rmdup.bam	chr16	30908660	30915961	DEL	CTF1_2_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36019.rmdup.bam	chr11	19202157	19211926	DEL	CSRP3_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36020.rmdup.bam	chr5	45643211	45698346	DEL	HCN1_7_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36021.rmdup.bam	chr1	116258377	116271819	DEL	CASQ2_4_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36085.rmdup.bam	chr9	108356798	108399596	DEL	FKTN_2_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36086.rmdup.bam	chr3	189453453	189589271	DEL	TP63_2_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36119.rmdup.bam	chr1	236892457	236910151	DEL	ACTN2_7_to_12	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36120.rmdup.bam	chrX	32660172	32836833	DEL	DMD_68_to_73	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36121.rmdup.bam	chr11	123502772	123518534	DEL	SCN3B_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36124.rmdup.bam	chr11	123502772	123518534	DEL	SCN3B_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36125B.rmdup.bam	chr15	73612668	73638225	DEL	HCN4_1_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36142.rmdup.bam	chr3	38800095	38814974	DEL	SCN10A_20_to_23	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36143.rmdup.bam	chr19	49701481	49707473	DEL	TRPM4_13_to_15	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36146.rmdup.bam	chr1	155872026	155876670	DEL	RIT1_2_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36147.rmdup.bam	chr8	72209206	72231999	DEL	EYA1_8_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36149.rmdup.bam	chr3	57900557	57915166	DEL	SLMAP_19_to_21	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36150.rmdup.bam	chr18	32371925	32400370	DEL	DTNA_3_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36151.rmdup.bam	chr10	112743310	112773626	DEL	SHOC2_2_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36152.rmdup.bam	chr1	115249105	115254424	DEL	NRAS_1_to_2	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36153.rmdup.bam	chr3	12643559	12662271	DEL	RAF1_9_to_14	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36154.rmdup.bam	chr15	67356342	67465027	DEL	SMAD3_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36155.rmdup.bam	chr18	32405481	32440437	DEL	DTNA_10_to_13	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36156.rmdup.bam	chr5	45351126	45647786	DEL	HCN1_4_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36157.rmdup.bam	chr19	16604486	16609090	DEL	CALR3_7_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36158.rmdup.bam	chr18	32429719	32440437	DEL	DTNA_12_to_13	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36169.rmdup.bam	chr14	50645214	50700153	DEL	SOS2_16_to_22	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36171.rmdup.bam	chr3	12639114	12644010	DEL	RAF1_7_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36172.rmdup.bam	chr19	605788	612582	DEL	HCN2_4_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36173.rmdup.bam	chr11	123502772	123518534	DEL	SCN3B_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36177.rmdup.bam	chr2	39247632	39296969	DEL	SOS1_14_to_21	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36178.rmdup.bam	chr7	151290355	151575856	DEL	PRKAG2_11_to_16	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36184.rmdup.bam	chr5	155769423	156018403	DEL	SGCD_2_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36186.rmdup.bam	chrX	32611798	32634645	DEL	DMD_66_to_67	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36187.rmdup.bam	chr19	47109378	47114493	DEL	CALM3_3_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36188.rmdup.bam	chr1	218605348	218612913	DEL	TGFB2_4_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36190.rmdup.bam	chr1	237917512	237939024	DEL	RYR2_81_to_87	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36191.rmdup.bam	chr10	18627770	18805373	DEL	CACNB2_3_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36192.rmdup.bam	chr5	155933535	156076622	DEL	SGCD_3_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36193.rmdup.bam	chr5	155769423	155937787	DEL	SGCD_2_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36195.rmdup.bam	chr20	42741385	42791177	DEL	JPH2_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36225.rmdup.bam	chr9	108368024	108399596	DEL	FKTN_5_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36227.rmdup.bam	chr12	25376472	25382422	DEL	KRAS_2_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36228.rmdup.bam	chr10	68278299	69283794	DEL	CTNNA3_8_to_14	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36229.rmdup.bam	chrX	119573509	119605075	DEL	LAMP2_2_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36230.rmdup.bam	chr10	67678036	68282607	DEL	CTNNA3_1_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36231.rmdup.bam	chr11	123502772	123518534	DEL	SCN3B_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36232.rmdup.bam	chr9	108368024	108399596	DEL	FKTN_5_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36237.rmdup.bam	chrX	31225539	31343854	DEL	DMD_15_to_18	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36238.rmdup.bam	chr5	127690892	127699616	DEL	FBN2_46_to_47	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36241.rmdup.bam	chr15	38589498	38634172	DEL	SPRED1_2_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36242.rmdup.bam	chr10	121427186	121434293	DEL	BAG3_2_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36243.rmdup.bam	chr6	133787628	133848468	DEL	EYA4_9_to_16	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36244.rmdup.bam	chr10	121427186	121434293	DEL	BAG3_2_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36245.rmdup.bam	chrX	31364597	31517137	DEL	DMD_19_to_23	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36246.rmdup.bam	chr1	155872026	155876670	DEL	RIT1_2_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36247.rmdup.bam	chr1	92161556	92189776	DEL	TGFBR3_3_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36248.rmdup.bam	chr6	123650939	123689413	DEL	TRDN_19_to_22	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36254.rmdup.bam	chr10	88443335	88454420	DEL	LDB3_4_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36255.rmdup.bam	chr17	48644154	48652550	DEL	CACNA1G_2_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36260.rmdup.bam	chr7	151252205	151259778	DEL	PRKAG2_1_to_2	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36261.rmdup.bam	chr16	30905866	30912930	DEL	CTF1_1_to_2	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36262.rmdup.bam	chr18	29116638	29124891	DEL	DSG2_10_to_12	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36263.rmdup.bam	chr20	42741385	42791177	DEL	JPH2_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36278.rmdup.bam	chr18	32426184	32433967	DEL	DTNA_11_to_12	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36287.rmdup.bam	chr1	21557974	21566813	DEL	ECE1_6_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36306.rmdup.bam	chr3	32146116	32203242	DEL	GPD1L_1_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36307.rmdup.bam	chr10	75828352	75836737	DEL	VCL_3_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36308.rmdup.bam	chr3	57830832	57859504	DEL	SLMAP_4_to_11	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36310.rmdup.bam	chr18	32371925	32409715	DEL	DTNA_3_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36311.rmdup.bam	chr18	32333876	32388343	DEL	DTNA_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36312.rmdup.bam	chr3	38599562	38606203	DEL	SCN5A_6_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36313.rmdup.bam	chrX	119573509	119592700	DEL	LAMP2_2_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36331.rmdup.bam	chr3	57880162	57896953	DEL	SLMAP_13_to_16	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36334.rmdup.bam	chr5	45259970	45306016	DEL	HCN1_1_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36335.rmdup.bam	chr6	112467283	112496082	DEL	LAMA4_22_to_28	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36336.rmdup.bam	chr5	127798341	127875397	DEL	FBN2_60_to_65	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36337.rmdup.bam	chr1	155872026	155876670	DEL	RIT1_2_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36338.rmdup.bam	chr15	67477627	67484925	DEL	SMAD3_7_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36339.rmdup.bam	chr10	88437048	88454420	DEL	LDB3_2_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36340.rmdup.bam	chr19	47107008	47114493	DEL	CALM3_2_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36341.rmdup.bam	chr6	123597367	123689413	DEL	TRDN_16_to_22	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36342.rmdup.bam	chr1	162122119	162304991	DEL	NOS1AP_2_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36343.rmdup.bam	chr12	22033624	22042944	DEL	ABCC9_24_to_25	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36344.rmdup.bam	chr12	32943281	32979171	DEL	PKP2_1_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36345.rmdup.bam	chr12	112908672	112922084	DEL	PTPN11_7_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36354.rmdup.bam	chr19	4115341	4126024	DEL	MAP2K2_9_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36355.rmdup.bam	chr4	120069950	120109406	DEL	MYOZ2_2_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36357.rmdup.bam	chr8	72209206	72231999	DEL	EYA1_8_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36358.rmdup.bam	chr1	78396889	78403805	DEL	NEXN_7_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36359.rmdup.bam	chr1	218534600	218616754	DEL	TGFB2_2_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36371.rmdup.bam	chrX	100650746	100661048	DEL	GLA_1_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36372.rmdup.bam	chr14	50609812	50619025	DEL	SOS2_8_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36373.rmdup.bam	chr8	72179899	72214031	DEL	EYA1_6_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36377.rmdup.bam	chr3	30646225	30717813	DEL	TGFBR2_1_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36378.rmdup.bam	chr2	47385831	47399998	DEL	CALM2_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36383.rmdup.bam	chr19	49658973	49688644	DEL	TRPM4_1_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36384.rmdup.bam	chr6	123816257	123827122	DEL	TRDN_32_to_33	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36385.rmdup.bam	chr6	123578678	123583880	DEL	TRDN_7_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36392.rmdup.bam	chr19	605788	612582	DEL	HCN2_4_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36393.rmdup.bam	chr3	30684163	30735142	DEL	TGFBR2_2_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36424.rmdup.bam	chrX	31643714	31699779	DEL	DMD_25_to_27	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36426.rmdup.bam	chr19	35527844	35532681	DEL	SCN1B_4_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36427.rmdup.bam	chr10	69900620	69923607	DEL	MYPN_2_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36428.rmdup.bam	chr10	67860839	68528250	DEL	CTNNA3_5_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36446.rmdup.bam	chr1	116258377	116313213	DEL	CASQ2_4_to_11	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36447.rmdup.bam	chr10	75851952	75862930	DEL	VCL_11_to_14	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36448.rmdup.bam	chr14	90868130	90873157	DEL	CALM1_4_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36450.rmdup.bam	chr10	68136834	69283794	DEL	CTNNA3_7_to_14	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36451.rmdup.bam	chr10	21113300	21131854	DEL	NEBL_11_to_16	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36452.rmdup.bam	chr12	98919588	98930172	DEL	TMPO_2_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36456.rmdup.bam	chr17	78088691	78095280	DEL	GAA_9_to_13	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36457.rmdup.bam	chr1	26381617	26396035	DEL	TRIM63_3_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36489.rmdup.bam	chr12	98907495	98923866	DEL	TMPO_1_to_2	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36535.rmdup.bam	chr2	105987940	106005024	DEL	FHL2_4_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36547.rmdup.bam	chr1	115254344	115260831	DEL	NRAS_3_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36550.rmdup.bam	chr6	123597367	123689413	DEL	TRDN_16_to_22	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36557.rmdup.bam	chr3	32186038	32209452	DEL	GPD1L_5_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36569.rmdup.bam	chr4	186421397	186431792	DEL	PDLIM3_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36570.rmdup.bam	chr12	2160642	2560356	DEL	CACNA1C_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36572.rmdup.bam	chr2	40385829	40404520	DEL	SLC8A1_3_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36573.rmdup.bam	chr1	237775261	237793455	DEL	RYR2_37_to_41	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36578.rmdup.bam	chr18	29076126	29104288	DEL	DSG2_1_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36580.rmdup.bam	chr5	37289951	37296643	DEL	NUP155_1_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36583.rmdup.bam	chr14	90864314	90873157	DEL	CALM1_2_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36599.rmdup.bam	chr15	67356342	67475867	DEL	SMAD3_1_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36602.rmdup.bam	chr17	39909844	39917197	DEL	JUP_1_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36603.rmdup.bam	chr10	121409037	121434293	DEL	BAG3_1_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36604.rmdup.bam	chr16	30908660	30915961	DEL	CTF1_2_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36605.rmdup.bam	chr2	105975689	105982003	DEL	FHL2_1_to_2	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36606.rmdup.bam	chr6	123835208	123871833	DEL	TRDN_35_to_38	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36607.rmdup.bam	chr1	162122119	162272571	DEL	NOS1AP_2_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36608.rmdup.bam	chr1	26381617	26389901	DEL	TRIM63_3_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36611.rmdup.bam	chr2	105975689	105982003	DEL	FHL2_1_to_2	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36612.rmdup.bam	chr12	112886046	112922084	DEL	PTPN11_3_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36614.rmdup.bam	chr5	45394518	45647786	DEL	HCN1_5_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36615.rmdup.bam	chr19	46278506	46285368	DEL	DMPK_5_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36707.rmdup.bam	chr19	35519634	35527055	DEL	SCN1B_1_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36708.rmdup.bam	chr5	45301625	45698346	DEL	HCN1_3_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36709.rmdup.bam	chr1	218517993	218612913	DEL	TGFB2_1_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36710.rmdup.bam	chr15	66733542	66785004	DEL	MAP2K1_4_to_11	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36713.rmdup.bam	chr1	116245737	116285525	DEL	CASQ2_3_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36715.rmdup.bam	chr1	237952653	237963545	DEL	RYR2_93_to_97	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36717.rmdup.bam	chr15	67356342	67465027	DEL	SMAD3_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36718.rmdup.bam	chr5	156014165	156024136	DEL	SGCD_4_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36719.rmdup.bam	chrX	119563127	119592700	DEL	LAMP2_1_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36720.rmdup.bam	chr19	587794	607399	DEL	HCN2_1_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36721.rmdup.bam	chr12	98907495	98933425	DEL	TMPO_1_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36722.rmdup.bam	chrX	31852759	31895566	DEL	DMD_31_to_32	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36723.rmdup.bam	chr2	220281034	220288358	DEL	DES_1_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36724.rmdup.bam	chr16	15824345	15837824	DEL	MYH11_13_to_18	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36725.rmdup.bam	chr6	123635511	123660899	DEL	TRDN_18_to_20	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36726.rmdup.bam	chr4	111537230	111544702	DEL	PITX2_1_to_2	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36730.rmdup.bam	chr12	22010444	22019502	DEL	ABCC9_18_to_21	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36732.rmdup.bam	chr15	66733542	66785004	DEL	MAP2K1_4_to_11	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36733.rmdup.bam	chr4	111551348	111556241	DEL	PITX2_3_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36735.rmdup.bam	chr9	108335263	108384417	DEL	FKTN_1_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36743.rmdup.bam	chr5	37346531	37360329	DEL	NUP155_27_to_32	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36746.rmdup.bam	chr1	112316647	112331804	DEL	KCND3_1_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36749.rmdup.bam	chr6	123783975	123835587	DEL	TRDN_31_to_34	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36750.rmdup.bam	chr11	118035550	118041643	DEL	SCN2B_1_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36751.rmdup.bam	chr15	73612668	73619860	DEL	HCN4_1_to_2	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36753.rmdup.bam	chr1	92147244	92165776	DEL	TGFBR3_1_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36754.rmdup.bam	chr3	30646225	30717813	DEL	TGFBR2_1_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36755.rmdup.bam	chr4	120055621	120074272	DEL	MYOZ2_1_to_2	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36760.rmdup.bam	chr2	39247632	39296969	DEL	SOS1_14_to_21	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36767.rmdup.bam	chr3	57891535	57901077	DEL	SLMAP_15_to_18	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36781.rmdup.bam	chr10	69903147	69920459	DEL	MYPN_3_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36782.rmdup.bam	chr3	30727800	30735142	DEL	TGFBR2_6_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36792.rmdup.bam	chr12	25376472	25382422	DEL	KRAS_2_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36794.rmdup.bam	chr15	73612668	73638225	DEL	HCN4_1_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36795.rmdup.bam	chr14	50617712	50651400	DEL	SOS2_10_to_17	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36796.rmdup.bam	chr14	76427583	76449288	DEL	TGFB3_3_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36811.rmdup.bam	chr6	123831367	123960007	DEL	TRDN_34_to_40	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36812.rmdup.bam	chr16	15806690	15817567	DEL	MYH11_2_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36813.rmdup.bam	chr12	32946967	33005982	DEL	PKP2_3_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36814.rmdup.bam	chr10	21072625	21078313	DEL	NEBL_1_to_2	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36815.rmdup.bam	chr6	133787628	133836251	DEL	EYA4_9_to_13	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36816.rmdup.bam	chr10	68523946	68981704	DEL	CTNNA3_10_to_13	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36817.rmdup.bam	chr2	40364464	40659475	DEL	SLC8A1_2_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36818.rmdup.bam	chr5	45301625	45464185	DEL	HCN1_3_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36819.rmdup.bam	chr20	31994162	32028908	DEL	SNTA1_1_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36820.rmdup.bam	chr11	19202157	19211926	DEL	CSRP3_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36824.rmdup.bam	chr10	88437048	88449105	DEL	LDB3_2_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36825.rmdup.bam	chr15	67356342	67461267	DEL	SMAD3_1_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36826.rmdup.bam	chr8	72179899	72186207	DEL	EYA1_6_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36827.rmdup.bam	chr7	91692468	91711546	DEL	AKAP9_25_to_31	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36828.rmdup.bam	chr11	123506818	123518534	DEL	SCN3B_2_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36829.rmdup.bam	chr10	112722066	112747598	DEL	SHOC2_1_to_2	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36834.rmdup.bam	chr15	66733542	66785004	DEL	MAP2K1_4_to_11	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36835.rmdup.bam	chr9	139436300	139442399	DEL	NOTCH1_21_to_22	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36836.rmdup.bam	chr19	4108431	4119702	DEL	MAP2K2_8_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36837.rmdup.bam	chr15	38543336	38619097	DEL	SPRED1_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36838.rmdup.bam	chr1	26381617	26396035	DEL	TRIM63_3_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36839.rmdup.bam	chr11	118009846	118025467	DEL	SCN4B_2_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36840.rmdup.bam	chr9	108356798	108365705	DEL	FKTN_2_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36841.rmdup.bam	chr4	114159565	114165441	DEL	ANK2_8_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36842.rmdup.bam	chr3	12630221	12649874	DEL	RAF1_5_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36843.rmdup.bam	chr3	38660258	38666055	DEL	SCN5A_24_to_25	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36844.rmdup.bam	chr3	32146116	32203242	DEL	GPD1L_1_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36845.rmdup.bam	chr1	115249105	115254424	DEL	NRAS_1_to_2	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36847.rmdup.bam	chr10	18437736	18797552	DEL	CACNB2_2_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36848.rmdup.bam	chr3	32146116	32183934	DEL	GPD1L_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36849.rmdup.bam	chr15	38589498	38619097	DEL	SPRED1_2_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36851.rmdup.bam	chr3	32178003	32190302	DEL	GPD1L_3_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36852.rmdup.bam	chr17	78076232	78089341	DEL	GAA_1_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36854.rmdup.bam	chr11	118005691	118018020	DEL	SCN4B_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36857.rmdup.bam	chr19	46271594	46280367	DEL	DMPK_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36860.rmdup.bam	chr7	81712009	81802005	DEL	CACNA2D1_32_to_35	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36861.rmdup.bam	chr10	112762288	112773626	DEL	SHOC2_4_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36862.rmdup.bam	chr12	33001624	33051816	DEL	PKP2_10_to_14	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36863.rmdup.bam	chr1	112316647	112325489	DEL	KCND3_1_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36867.rmdup.bam	chr2	40389918	40407709	DEL	SLC8A1_4_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36868.rmdup.bam	chr11	2606724	2871335	DEL	KCNQ1_9_to_16	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36872.rmdup.bam	chr12	32946967	32979171	DEL	PKP2_3_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36873.rmdup.bam	chr3	38605824	38624938	DEL	SCN5A_8_to_12	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36876.rmdup.bam	chr1	218576434	218616754	DEL	TGFB2_3_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36877.rmdup.bam	chr15	38612366	38645917	DEL	SPRED1_3_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36880.rmdup.bam	chr10	68038152	68528250	DEL	CTNNA3_6_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36881.rmdup.bam	chr7	150669621	150677153	DEL	KCNH2_11_to_12	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36886.rmdup.bam	chr2	105981950	106005024	DEL	FHL2_3_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36894.rmdup.bam	chr1	116245737	116277670	DEL	CASQ2_3_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36895.rmdup.bam	chr4	186421397	186431792	DEL	PDLIM3_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36896.rmdup.bam	chr14	76427583	76440137	DEL	TGFB3_3_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36901.rmdup.bam	chr20	31994162	32002764	DEL	SNTA1_1_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36902.rmdup.bam	chr4	186433347	186448400	DEL	PDLIM3_5_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36903.rmdup.bam	chr9	108361350	108372308	DEL	FKTN_3_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36904.rmdup.bam	chr1	21569304	21608002	DEL	ECE1_10_to_17	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36906.rmdup.bam	chr15	67455057	67475867	DEL	SMAD3_2_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36907.rmdup.bam	chr6	123816257	123827122	DEL	TRDN_32_to_33	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36908.rmdup.bam	chr11	123502772	123518534	DEL	SCN3B_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36909.rmdup.bam	chr4	114211496	114216770	DEL	ANK2_21_to_22	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36914.rmdup.bam	chr10	43570555	43604094	DEL	RET_1_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36915.rmdup.bam	chr6	133780175	133791944	DEL	EYA4_6_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36919.rmdup.bam	chr7	150669621	150677153	DEL	KCNH2_11_to_12	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36923.rmdup.bam	chr11	2589731	2608712	DEL	KCNQ1_3_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36924.rmdup.bam	chr10	112743310	112773626	DEL	SHOC2_2_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36925.rmdup.bam	chr1	92182793	92265103	DEL	TGFBR3_8_to_15	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36927.rmdup.bam	chr3	57880162	57901077	DEL	SLMAP_13_to_18	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36928.rmdup.bam	chr4	120069950	120087624	DEL	MYOZ2_2_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36929.rmdup.bam	chr3	30646225	30717813	DEL	TGFBR2_1_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36933.rmdup.bam	chr5	156019866	156076622	DEL	SGCD_5_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36934.rmdup.bam	chr20	31994162	32002764	DEL	SNTA1_1_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36935.rmdup.bam	chr8	72179899	72231999	DEL	EYA1_6_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36936.rmdup.bam	chr3	38736789	38745677	DEL	SCN10A_1_to_2	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36937.rmdup.bam	chr16	30905866	30912930	DEL	CTF1_1_to_2	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36940.rmdup.bam	chr1	218517993	218538834	DEL	TGFB2_1_to_2	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36943.rmdup.bam	chr3	46897637	46904573	DEL	MYL3_1_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36944.rmdup.bam	chr9	108335263	108379763	DEL	FKTN_1_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36945.rmdup.bam	chr12	112882004	112922084	DEL	PTPN11_2_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36946.rmdup.bam	chr18	29169790	29177293	DEL	TTR_1_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36947.rmdup.bam	chr14	50621641	50651400	DEL	SOS2_11_to_17	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36948.rmdup.bam	chr10	88437048	88461181	DEL	LDB3_2_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36949.rmdup.bam	chr3	57855284	57901077	DEL	SLMAP_11_to_18	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36950.rmdup.bam	chr17	39921555	39930157	DEL	JUP_8_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36951.rmdup.bam	chr15	73612668	73619860	DEL	HCN4_1_to_2	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36952.rmdup.bam	chr10	90695741	90705740	DEL	ACTA2_2_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36960.rmdup.bam	chr6	123712685	123839428	DEL	TRDN_28_to_35	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36962.rmdup.bam	chr14	50621641	50630402	DEL	SOS2_11_to_14	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36964.rmdup.bam	chr3	30646225	30732078	DEL	TGFBR2_1_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36965.rmdup.bam	chr1	21569304	21601583	DEL	ECE1_10_to_16	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36966.rmdup.bam	chr10	90692929	90705740	DEL	ACTA2_1_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36970.rmdup.bam	chr10	69900620	69928499	DEL	MYPN_2_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36971.rmdup.bam	chr7	150640351	150652017	DEL	KCNH2_1_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36972.rmdup.bam	chr22	40028494	40048108	DEL	CACNA1I_5_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36973.rmdup.bam	chr8	72125546	72131339	DEL	EYA1_3_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36989.rmdup.bam	chr12	98919588	98933425	DEL	TMPO_2_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36992.rmdup.bam	chr2	105975689	105986272	DEL	FHL2_1_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36993.rmdup.bam	chr10	88437048	88461181	DEL	LDB3_2_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36994.rmdup.bam	chr9	108378164	108384417	DEL	FKTN_7_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36997.rmdup.bam	chr1	218517993	218612913	DEL	TGFB2_1_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36999.rmdup.bam	chr3	38599562	38624938	DEL	SCN5A_6_to_12	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37000.rmdup.bam	chr3	32167492	32190302	DEL	GPD1L_2_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37001.rmdup.bam	chr1	162268347	162315841	DEL	NOS1AP_4_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37002.rmdup.bam	chr16	30908660	30915961	DEL	CTF1_2_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37003.rmdup.bam	chr10	88449477	88461181	DEL	LDB3_6_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37004.rmdup.bam	chr4	120083290	120109406	DEL	MYOZ2_4_to_5	1	multiple
