/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB16246.rmdup.bam	chr20	42786077	42817395	DUP	JPH2_4_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB34669.rmdup.bam	chr7	140450999	140485033	DUP	BRAF_4_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35019.rmdup.bam	chr10	67724294	68141186	DUP	CTNNA3_2_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35445.rmdup.bam	chr1	162255058	162339360	DUP	NOS1AP_3_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35459.rmdup.bam	chrX	119563127	119585059	DUP	LAMP2_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35460.rmdup.bam	chr20	30412332	30423650	DUP	MYLK2_6_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35887.rmdup.bam	chr12	32972214	32979171	DUP	PKP2_5_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35925.rmdup.bam	chr11	123511078	123526591	DUP	SCN3B_3_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35975.rmdup.bam	chr1	237630316	237668880	DUP	RYR2_17_to_22	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35976.rmdup.bam	chr5	155933535	156188452	DUP	SGCD_3_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35977.rmdup.bam	chr7	150652202	150677153	DUP	KCNH2_8_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35978.rmdup.bam	chr3	30646225	30694028	DUP	TGFBR2_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35979.rmdup.bam	chr6	123635511	123660899	DUP	TRDN_18_to_20	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35983.rmdup.bam	chr5	156019866	156076622	DUP	SGCD_5_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35984.rmdup.bam	chr3	32186038	32203242	DUP	GPD1L_5_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35985.rmdup.bam	chr18	28645929	28653883	DUP	DSC2_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36018.rmdup.bam	chr17	48636669	48658001	DUP	CACNA1G_1_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36019.rmdup.bam	chrX	31220002	31226859	DUP	DMD_13_to_14	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36020.rmdup.bam	chr1	115254344	115260831	DUP	NRAS_3_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36021.rmdup.bam	chr4	120069950	120087624	DUP	MYOZ2_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36085.rmdup.bam	chr1	156098332	156110993	DUP	LMNA_2_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36086.rmdup.bam	chr10	21174950	21188184	DUP	NEBL_25_to_27	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36119.rmdup.bam	chr12	32946967	32998322	DUP	PKP2_3_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36120.rmdup.bam	chr3	30689685	30735142	DUP	TGFBR2_3_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36121.rmdup.bam	chr18	29169790	29177293	DUP	TTR_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36124.rmdup.bam	chr3	46897637	46904573	DUP	MYL3_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36125B.rmdup.bam	chr19	46278506	46285368	DUP	DMPK_5_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36142.rmdup.bam	chr6	112504363	112515128	DUP	LAMA4_31_to_34	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36143.rmdup.bam	chr10	18820929	18830704	DUP	CACNB2_12_to_15	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36146.rmdup.bam	chr19	35519634	35527055	DUP	SCN1B_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36147.rmdup.bam	chr4	120055621	120087624	DUP	MYOZ2_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36149.rmdup.bam	chrX	32507317	32634645	DUP	DMD_60_to_67	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36150.rmdup.bam	chr15	67455057	67461267	DUP	SMAD3_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36151.rmdup.bam	chr10	112722066	112747598	DUP	SHOC2_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36152.rmdup.bam	chr1	155872026	155882726	DUP	RIT1_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36153.rmdup.bam	chr2	105987940	106005024	DUP	FHL2_4_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36154.rmdup.bam	chr11	118035550	118041643	DUP	SCN2B_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36155.rmdup.bam	chr10	67678036	68042454	DUP	CTNNA3_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36156.rmdup.bam	chr8	72109517	72159002	DUP	EYA1_1_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36157.rmdup.bam	chrX	32303569	32363479	DUP	DMD_37_to_40	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36158.rmdup.bam	chr3	38800095	38837552	DUP	SCN10A_20_to_26	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36169.rmdup.bam	chr3	38828371	38837552	DUP	SCN10A_24_to_26	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36171.rmdup.bam	chr15	67460807	67481923	DUP	SMAD3_4_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36172.rmdup.bam	chr4	120077101	120109406	DUP	MYOZ2_3_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36173.rmdup.bam	chr1	236896859	236910151	DUP	ACTN2_8_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36177.rmdup.bam	chr5	155769423	156188452	DUP	SGCD_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36178.rmdup.bam	chr20	32003449	32028908	DUP	SNTA1_4_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36184.rmdup.bam	chr12	98923382	98943687	DUP	TMPO_3_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36186.rmdup.bam	chr5	45259970	45464185	DUP	HCN1_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36187.rmdup.bam	chr6	133825168	133852000	DUP	EYA4_12_to_17	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36188.rmdup.bam	chr17	48650778	48658001	DUP	CACNA1G_7_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36190.rmdup.bam	chr4	120069950	120109406	DUP	MYOZ2_2_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36191.rmdup.bam	chr5	45351126	45698346	DUP	HCN1_4_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36192.rmdup.bam	chr9	101889061	101902448	DUP	TGFBR1_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36193.rmdup.bam	chrX	32378829	32385392	DUP	DMD_43_to_45	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36195.rmdup.bam	chr6	112469637	112496082	DUP	LAMA4_23_to_28	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36225.rmdup.bam	chr2	105975689	105982003	DUP	FHL2_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36227.rmdup.bam	chr12	112882004	112912920	DUP	PTPN11_2_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36228.rmdup.bam	chr3	46897637	46904573	DUP	MYL3_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36229.rmdup.bam	chr5	155754490	156076622	DUP	SGCD_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36230.rmdup.bam	chr12	98923382	98930172	DUP	TMPO_3_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36231.rmdup.bam	chr3	38599562	38624938	DUP	SCN5A_6_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36232.rmdup.bam	chr3	38789488	38796078	DUP	SCN10A_16_to_17	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36237.rmdup.bam	chrX	153638029	153644602	DUP	TAZ_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36238.rmdup.bam	chr15	38612366	38619097	DUP	SPRED1_3_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36241.rmdup.bam	chr3	189582395	189606415	DUP	TP63_6_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36242.rmdup.bam	chr11	118035550	118041643	DUP	SCN2B_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36243.rmdup.bam	chr6	112458246	112471614	DUP	LAMA4_16_to_22	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36244.rmdup.bam	chr10	92673224	92682868	DUP	ANKRD1_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36245.rmdup.bam	chr1	162255058	162304991	DUP	NOS1AP_3_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36246.rmdup.bam	chr19	16587891	16598144	DUP	CALR3_1_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36247.rmdup.bam	chr18	32371925	32388343	DUP	DTNA_3_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36248.rmdup.bam	chr16	15827147	15841170	DUP	MYH11_14_to_19	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36254.rmdup.bam	chrX	119587136	119605075	DUP	LAMP2_7_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36255.rmdup.bam	chr12	33001624	33034042	DUP	PKP2_10_to_13	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36260.rmdup.bam	chr3	30646225	30717813	DUP	TGFBR2_1_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36261.rmdup.bam	chr1	116266041	116271819	DUP	CASQ2_5_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36262.rmdup.bam	chr4	114236787	114260012	DUP	ANK2_25_to_31	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36263.rmdup.bam	chr10	18688777	18809978	DUP	CACNB2_4_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36278.rmdup.bam	chr1	78379707	78386036	DUP	NEXN_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36287.rmdup.bam	chr2	40395344	40659475	DUP	SLC8A1_5_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36306.rmdup.bam	chr3	30684163	30735142	DUP	TGFBR2_2_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36307.rmdup.bam	chr22	40062221	40072114	DUP	CACNA1I_21_to_26	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36308.rmdup.bam	chr1	162037917	162315841	DUP	NOS1AP_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36310.rmdup.bam	chr12	111346730	111355669	DUP	MYL2_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36311.rmdup.bam	chr7	151290355	151485702	DUP	PRKAG2_11_to_15	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36312.rmdup.bam	chr6	133787628	133836251	DUP	EYA4_9_to_13	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36313.rmdup.bam	chr3	189523984	189592860	DUP	TP63_4_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36331.rmdup.bam	chr3	46897637	46904573	DUP	MYL3_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36334.rmdup.bam	chr18	29102335	29118468	DUP	DSG2_6_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36335.rmdup.bam	chr20	32003449	32033579	DUP	SNTA1_4_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36336.rmdup.bam	chr19	601365	618577	DUP	HCN2_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36337.rmdup.bam	chr1	218517993	218612913	DUP	TGFB2_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36338.rmdup.bam	chr15	67356342	67481923	DUP	SMAD3_1_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36339.rmdup.bam	chr18	32333876	32376289	DUP	DTNA_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36340.rmdup.bam	chr1	115254344	115260831	DUP	NRAS_3_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36341.rmdup.bam	chr3	14178604	14185345	DUP	TMEM43_11_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36342.rmdup.bam	chr10	67826989	68528250	DUP	CTNNA3_4_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36343.rmdup.bam	chr10	121427186	121438847	DUP	BAG3_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36344.rmdup.bam	chr9	101898064	101913638	DUP	TGFBR1_4_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36345.rmdup.bam	chr15	48810780	48907365	DUP	FBN1_53_to_60	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36354.rmdup.bam	chr2	40364464	40390079	DUP	SLC8A1_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36355.rmdup.bam	chr2	220286410	220292801	DUP	DES_4_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36357.rmdup.bam	chr2	47385831	47399998	DUP	CALM2_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36358.rmdup.bam	chr6	133800525	133838649	DUP	EYA4_10_to_14	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36359.rmdup.bam	chr12	21960710	21984070	DUP	ABCC9_4_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36371.rmdup.bam	chr12	112882004	112922084	DUP	PTPN11_2_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36372.rmdup.bam	chr18	32429719	32446102	DUP	DTNA_12_to_14	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36373.rmdup.bam	chr5	249031	258589	DUP	SDHA_12_to_15	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36377.rmdup.bam	chr10	68523946	69301503	DUP	CTNNA3_10_to_15	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36378.rmdup.bam	chr17	78088691	78095280	DUP	GAA_9_to_13	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36383.rmdup.bam	chr2	40385829	40407709	DUP	SLC8A1_3_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36384.rmdup.bam	chr18	32429719	32466798	DUP	DTNA_12_to_19	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36385.rmdup.bam	chr8	72209206	72214031	DUP	EYA1_8_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36392.rmdup.bam	chr16	30905866	30912930	DUP	CTF1_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36393.rmdup.bam	chr10	90695741	90705740	DUP	ACTA2_2_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36424.rmdup.bam	chr7	81763861	81966643	DUP	CACNA2D1_34_to_36	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36426.rmdup.bam	chr9	101898064	101913638	DUP	TGFBR1_4_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36427.rmdup.bam	chr18	32393797	32433967	DUP	DTNA_6_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36428.rmdup.bam	chr5	45259970	45647786	DUP	HCN1_1_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36446.rmdup.bam	chr4	111540142	111556241	DUP	PITX2_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36447.rmdup.bam	chr16	30905866	30912930	DUP	CTF1_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36448.rmdup.bam	chr1	78396889	78403805	DUP	NEXN_7_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36450.rmdup.bam	chr7	81712009	81768081	DUP	CACNA2D1_32_to_34	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36451.rmdup.bam	chr7	153582684	154431667	DUP	DPP6_1_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36452.rmdup.bam	chr17	29577877	29656934	DUP	NF1_29_to_36	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36456.rmdup.bam	chr10	112722066	112762379	DUP	SHOC2_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36457.rmdup.bam	chr7	154427447	154563357	DUP	DPP6_7_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36489.rmdup.bam	chr1	78388783	78403805	DUP	NEXN_4_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36535.rmdup.bam	chr9	108361350	108368848	DUP	FKTN_3_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36547.rmdup.bam	chr18	32371925	32400370	DUP	DTNA_3_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36550.rmdup.bam	chr14	50583011	50603033	DUP	SOS2_1_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36557.rmdup.bam	chr6	133787628	133829408	DUP	EYA4_9_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36569.rmdup.bam	chr7	151370330	151575856	DUP	PRKAG2_13_to_16	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36570.rmdup.bam	chr15	67477627	67484925	DUP	SMAD3_7_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36572.rmdup.bam	chr15	48816251	48828477	DUP	FBN1_54_to_55	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36573.rmdup.bam	chr1	155872026	155876670	DUP	RIT1_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36577.rmdup.bam	chr3	30646225	30732078	DUP	TGFBR2_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36578.rmdup.bam	chr10	121427186	121434293	DUP	BAG3_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36580.rmdup.bam	chr3	46897637	46904573	DUP	MYL3_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36583.rmdup.bam	chr2	40340341	40399564	DUP	SLC8A1_1_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36595.rmdup.bam	chr3	30711054	30735142	DUP	TGFBR2_4_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36596.rmdup.bam	chr12	98907495	98930172	DUP	TMPO_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36597.rmdup.bam	chr16	15870558	15882665	DUP	MYH11_30_to_33	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36599.rmdup.bam	chr1	116258377	116289609	DUP	CASQ2_4_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36602.rmdup.bam	chr12	112922203	112942136	DUP	PTPN11_10_to_13	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36603.rmdup.bam	chr19	4092275	4112729	DUP	MAP2K2_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36604.rmdup.bam	chr18	32398679	32457437	DUP	DTNA_8_to_15	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36605.rmdup.bam	chr12	2593194	2624226	DUP	CACNA1C_6_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36606.rmdup.bam	chr10	121427186	121438847	DUP	BAG3_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36607.rmdup.bam	chr12	112922203	112929054	DUP	PTPN11_10_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36608.rmdup.bam	chr2	105975689	105982003	DUP	FHL2_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36611.rmdup.bam	chr5	45394518	45698346	DUP	HCN1_5_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36612.rmdup.bam	chr12	112913379	112929054	DUP	PTPN11_8_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36614.rmdup.bam	chr4	120069950	120087624	DUP	MYOZ2_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36615.rmdup.bam	chrX	31239088	31343854	DUP	DMD_16_to_18	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36707.rmdup.bam	chr12	112854765	112890392	DUP	PTPN11_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36708.rmdup.bam	chr19	35519634	35527055	DUP	SCN1B_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36709.rmdup.bam	chr10	67678036	68282607	DUP	CTNNA3_1_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36710.rmdup.bam	chr18	32343849	32400370	DUP	DTNA_2_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36713.rmdup.bam	chr4	114093496	114155491	DUP	ANK2_2_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36715.rmdup.bam	chr19	49682530	49702294	DUP	TRPM4_6_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36717.rmdup.bam	chr10	121427186	121438847	DUP	BAG3_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36718.rmdup.bam	chr15	73612668	73619860	DUP	HCN4_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36719.rmdup.bam	chr18	32429719	32446102	DUP	DTNA_12_to_14	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36720.rmdup.bam	chr8	72231892	72269191	DUP	EYA1_11_to_14	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36721.rmdup.bam	chr10	121427186	121438847	DUP	BAG3_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36722.rmdup.bam	chr7	81712009	82074925	DUP	CACNA2D1_32_to_38	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36723.rmdup.bam	chr19	47109378	47114493	DUP	CALM3_3_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36724.rmdup.bam	chr6	123584363	123597910	DUP	TRDN_9_to_15	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36725.rmdup.bam	chr6	133780175	133829408	DUP	EYA4_6_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36726.rmdup.bam	chr2	105975689	105992265	DUP	FHL2_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36730.rmdup.bam	chr11	71948689	71954409	DUP	PHOX2A_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36732.rmdup.bam	chrX	119573509	119578595	DUP	LAMP2_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36733.rmdup.bam	chr3	46897637	46904573	DUP	MYL3_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36735.rmdup.bam	chr10	68977288	69368882	DUP	CTNNA3_13_to_16	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36743.rmdup.bam	chr11	118009846	118025467	DUP	SCN4B_2_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36746.rmdup.bam	chr12	112888923	112922084	DUP	PTPN11_4_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36749.rmdup.bam	chr5	156014165	156024136	DUP	SGCD_4_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36750.rmdup.bam	chr3	30711054	30735142	DUP	TGFBR2_4_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36751.rmdup.bam	chr7	151327079	151480593	DUP	PRKAG2_12_to_14	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36753.rmdup.bam	chr15	67471503	67481923	DUP	SMAD3_5_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36754.rmdup.bam	chr15	38612366	38634172	DUP	SPRED1_3_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36755.rmdup.bam	chr3	32178003	32209452	DUP	GPD1L_3_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36760.rmdup.bam	chr10	112555190	112593015	DUP	RBM20_6_to_13	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36767.rmdup.bam	chr2	40340341	40404520	DUP	SLC8A1_1_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36781.rmdup.bam	chr1	115254344	115260831	DUP	NRAS_3_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36782.rmdup.bam	chr1	162311549	162339360	DUP	NOS1AP_6_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36792.rmdup.bam	chr20	42741385	42749339	DUP	JPH2_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36794.rmdup.bam	chr20	42741385	42749339	DUP	JPH2_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36795.rmdup.bam	chr11	123506818	123515454	DUP	SCN3B_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36796.rmdup.bam	chr15	66677534	66731306	DUP	MAP2K1_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36811.rmdup.bam	chr5	45259970	45306016	DUP	HCN1_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36812.rmdup.bam	chr12	25376472	25400368	DUP	KRAS_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36813.rmdup.bam	chr11	2606724	2612260	DUP	KCNQ1_9_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36814.rmdup.bam	chr3	189523984	189606415	DUP	TP63_4_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36815.rmdup.bam	chr3	32167492	32203242	DUP	GPD1L_2_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36816.rmdup.bam	chr3	57841384	57852518	DUP	SLMAP_6_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36817.rmdup.bam	chr17	28532674	28541960	DUP	SLC6A4_3_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36818.rmdup.bam	chr3	38653158	38676849	DUP	SCN5A_23_to_27	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36819.rmdup.bam	chr20	42741385	42749339	DUP	JPH2_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36820.rmdup.bam	chr1	155872026	155882726	DUP	RIT1_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36824.rmdup.bam	chr1	78405630	78410565	DUP	NEXN_9_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36825.rmdup.bam	chr2	40364464	40404520	DUP	SLC8A1_2_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36826.rmdup.bam	chr3	46897637	46904573	DUP	MYL3_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36827.rmdup.bam	chr12	111346730	111355669	DUP	MYL2_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36828.rmdup.bam	chr14	50603253	50621966	DUP	SOS2_6_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36829.rmdup.bam	chr18	32371925	32409715	DUP	DTNA_3_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36834.rmdup.bam	chr1	236879082	236896689	DUP	ACTN2_2_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36835.rmdup.bam	chrX	100650746	100661048	DUP	GLA_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36836.rmdup.bam	chr3	57880162	57884739	DUP	SLMAP_13_to_14	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36837.rmdup.bam	chrX	31162332	31200673	DUP	DMD_4_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36838.rmdup.bam	chrX	153638029	153644602	DUP	TAZ_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36839.rmdup.bam	chr7	140474636	140496342	DUP	BRAF_6_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36840.rmdup.bam	chrX	100650746	100661048	DUP	GLA_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36841.rmdup.bam	chr11	118009846	118018020	DUP	SCN4B_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36842.rmdup.bam	chr4	120069950	120109406	DUP	MYOZ2_2_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36843.rmdup.bam	chr18	29102335	29128760	DUP	DSG2_6_to_13	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36844.rmdup.bam	chr3	57891535	57901077	DUP	SLMAP_15_to_18	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36845.rmdup.bam	chr3	38761673	38772467	DUP	SCN10A_9_to_13	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36847.rmdup.bam	chr12	112882004	112917895	DUP	PTPN11_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36848.rmdup.bam	chr9	108356798	108399596	DUP	FKTN_2_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36849.rmdup.bam	chr12	25376472	25382422	DUP	KRAS_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36851.rmdup.bam	chr10	67860839	68537358	DUP	CTNNA3_5_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36852.rmdup.bam	chr11	118009846	118018020	DUP	SCN4B_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36854.rmdup.bam	chr10	112402112	112546722	DUP	RBM20_1_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36857.rmdup.bam	chr2	105981950	106005024	DUP	FHL2_3_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36860.rmdup.bam	chr5	45259970	45647786	DUP	HCN1_1_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36861.rmdup.bam	chr12	25376472	25400368	DUP	KRAS_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36862.rmdup.bam	chr2	40364464	40390079	DUP	SLC8A1_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36863.rmdup.bam	chr10	69952044	69968735	DUP	MYPN_13_to_18	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36867.rmdup.bam	chr12	112922203	112929054	DUP	PTPN11_10_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36868.rmdup.bam	chr7	140474636	140489476	DUP	BRAF_6_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36872.rmdup.bam	chr18	29169790	29177293	DUP	TTR_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36873.rmdup.bam	chr7	154583638	154661879	DUP	DPP6_12_to_19	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36876.rmdup.bam	chr7	151476161	151575856	DUP	PRKAG2_14_to_16	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36877.rmdup.bam	chr15	73612668	73626708	DUP	HCN4_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36880.rmdup.bam	chr15	38629862	38645917	DUP	SPRED1_5_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36881.rmdup.bam	chr7	151259088	151275613	DUP	PRKAG2_3_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36886.rmdup.bam	chr1	78379707	78403805	DUP	NEXN_1_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36894.rmdup.bam	chr11	123502772	123515454	DUP	SCN3B_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36895.rmdup.bam	chrX	32464497	32505291	DUP	DMD_53_to_59	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36896.rmdup.bam	chr18	32459957	32466798	DUP	DTNA_18_to_19	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36901.rmdup.bam	chr5	155933535	156188452	DUP	SGCD_3_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36902.rmdup.bam	chr10	67724294	67750630	DUP	CTNNA3_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36903.rmdup.bam	chr14	90861466	90869821	DUP	CALM1_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36904.rmdup.bam	chr5	228915	253659	DUP	SDHA_7_to_13	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36906.rmdup.bam	chr15	73612668	73638225	DUP	HCN4_1_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36907.rmdup.bam	chr7	154235541	154563357	DUP	DPP6_5_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36908.rmdup.bam	chr17	39921555	39930157	DUP	JUP_8_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36909.rmdup.bam	chr2	40385829	40659475	DUP	SLC8A1_3_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36914.rmdup.bam	chr2	40340341	40394200	DUP	SLC8A1_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36915.rmdup.bam	chr8	72179899	72186207	DUP	EYA1_6_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36919.rmdup.bam	chr20	42741385	42791177	DUP	JPH2_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36923.rmdup.bam	chr5	45394518	45698346	DUP	HCN1_5_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36924.rmdup.bam	chr15	38589498	38645917	DUP	SPRED1_2_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36925.rmdup.bam	chr14	90861466	90869821	DUP	CALM1_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36927.rmdup.bam	chr3	189523984	189606415	DUP	TP63_4_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36928.rmdup.bam	chr10	112743310	112773626	DUP	SHOC2_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36929.rmdup.bam	chr8	72154762	72186207	DUP	EYA1_5_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36933.rmdup.bam	chr5	45301625	45647786	DUP	HCN1_3_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36934.rmdup.bam	chr10	88426398	88454420	DUP	LDB3_1_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36935.rmdup.bam	chr18	32384107	32430422	DUP	DTNA_4_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36936.rmdup.bam	chr12	98923382	98943687	DUP	TMPO_3_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36937.rmdup.bam	chr3	32167492	32203242	DUP	GPD1L_2_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36940.rmdup.bam	chr4	120083290	120109406	DUP	MYOZ2_4_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36943.rmdup.bam	chrX	119563127	119585059	DUP	LAMP2_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36944.rmdup.bam	chr15	48810780	48828477	DUP	FBN1_53_to_55	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36945.rmdup.bam	chr15	73612668	73626708	DUP	HCN4_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36946.rmdup.bam	chr1	162255058	162339360	DUP	NOS1AP_3_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36947.rmdup.bam	chr3	189523984	189592860	DUP	TP63_4_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36948.rmdup.bam	chr11	19202157	19211926	DUP	CSRP3_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36949.rmdup.bam	chr12	33028702	33034042	DUP	PKP2_12_to_13	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36950.rmdup.bam	chr1	237959261	237971659	DUP	RYR2_97_to_99	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36951.rmdup.bam	chr7	154458994	154589684	DUP	DPP6_8_to_13	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36952.rmdup.bam	chr3	38593693	38606203	DUP	SCN5A_2_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36960.rmdup.bam	chr10	21110061	21131854	DUP	NEBL_10_to_16	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36962.rmdup.bam	chr17	29681402	29689796	DUP	NF1_49_to_54	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36964.rmdup.bam	chr8	72154762	72236578	DUP	EYA1_5_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36965.rmdup.bam	chr5	127695340	127716658	DUP	FBN2_47_to_54	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36966.rmdup.bam	chr18	32333876	32402955	DUP	DTNA_1_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36970.rmdup.bam	chr8	72244256	72269191	DUP	EYA1_13_to_14	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36971.rmdup.bam	chr15	67460807	67484925	DUP	SMAD3_4_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36972.rmdup.bam	chr4	111540142	111556241	DUP	PITX2_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36973.rmdup.bam	chr11	123502772	123515454	DUP	SCN3B_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36989.rmdup.bam	chr10	112743310	112773626	DUP	SHOC2_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36992.rmdup.bam	chr1	218576434	218616754	DUP	TGFB2_3_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36993.rmdup.bam	chr2	40395344	40407709	DUP	SLC8A1_5_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36994.rmdup.bam	chr18	32384107	32407345	DUP	DTNA_4_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36997.rmdup.bam	chr1	155872026	155882726	DUP	RIT1_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36999.rmdup.bam	chr8	72231892	72248484	DUP	EYA1_11_to_13	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37000.rmdup.bam	chr1	92159153	92165776	DUP	TGFBR3_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37001.rmdup.bam	chr1	115249105	115254424	DUP	NRAS_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37002.rmdup.bam	chr16	15815942	15822987	DUP	MYH11_10_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37003.rmdup.bam	chr12	25366324	25382422	DUP	KRAS_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37004.rmdup.bam	chr15	38589498	38634172	DUP	SPRED1_2_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37006-147.rmdup.bam	chr15	67455057	67475867	DUP	SMAD3_2_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37007-147.rmdup.bam	chr10	121409037	121434293	DUP	BAG3_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37254.rmdup.bam	chr10	90704939	90710737	DUP	ACTA2_7_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37275.rmdup.bam	chr1	115249105	115254424	DUP	NRAS_1_to_2	3	multiple
