/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36462.rmdup.bam	chr10	54009245	54055742	DEL	PRKG1_11_to_18	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37875.rmdup.bam	chr7	83687707	83825978	DEL	SEMA3A_12_to_16	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38126.rmdup.bam	chr3	30684202	30717811	DEL	TGFBR2_3_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38127.rmdup.bam	chr16	30908650	30915893	DEL	CTF1_2_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38128.rmdup.bam	chr10	18653901	18797557	DEL	CACNB2_6_to_11	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38129.rmdup.bam	chr19	47107002	47114491	DEL	CALM3_3_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38130.rmdup.bam	chr6	123707585	123716903	DEL	TRDN_27_to_28	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38136.rmdup.bam	chr14	76435389	76449264	DEL	TGFB3_5_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38137.rmdup.bam	chr15	52437568	52478954	DEL	GNB5_8_to_12	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38138.rmdup.bam	chr18	32393793	32411528	DEL	DTNA_6_to_12	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38140.rmdup.bam	chr12	114791299	114806228	DEL	TBX5_1_to_2	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38141.rmdup.bam	chrX	31193971	31224312	DEL	DMD_9_to_13	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38143.rmdup.bam	chr12	114801868	114834777	DEL	TBX5_2_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38144.rmdup.bam	chr6	76543537	76560277	DEL	MYO6_6_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38145.rmdup.bam	chr18	34227203	34275422	DEL	FHOD3_11_to_17	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38146.rmdup.bam	chr5	155754503	156076629	DEL	SGCD_1_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38147.rmdup.bam	chr10	68938044	69368842	DEL	CTNNA3_13_to_17	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38148.rmdup.bam	chr10	121409157	121434195	DEL	BAG3_1_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38149.rmdup.bam	chr6	116745707	116760540	DEL	DSE_3_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38150.rmdup.bam	chr5	121407629	121415712	DEL	LOX_4_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38151.rmdup.bam	chr7	151263720	151331297	DEL	PRKAG2_6_to_12	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38152.rmdup.bam	chr7	112405225	112417457	DEL	TMEM168_1_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38153.rmdup.bam	chr6	116752477	116760540	DEL	DSE_5_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38154.rmdup.bam	chr1	3317326	3324291	DEL	PRDM16_6_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38155.rmdup.bam	chr20	45351649	45364553	DEL	SLC2A10_3_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38156.rmdup.bam	chr14	76423452	76440135	DEL	TGFB3_1_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38157.rmdup.bam	chr3	141257292	141280918	DEL	RASA2_5_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38158.rmdup.bam	chr17	28523390	28541965	DEL	SLC6A4_1_to_7	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38162.rmdup.bam	chr3	12642898	12652914	DEL	RAF1_9_to_13	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38163.rmdup.bam	chr4	120083337	120109381	DEL	MYOZ2_4_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38168.rmdup.bam	chr10	18427581	18658093	DEL	CACNB2_1_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38170.rmdup.bam	chr7	151476209	151575780	DEL	PRKAG2_15_to_17	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38171.rmdup.bam	chr9	137580721	137595253	DEL	COL5A1_2_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38497.rmdup.bam	chr5	177032271	177038774	DEL	B4GALT7_3_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38558.rmdup.bam	chr7	35278413	35295311	DEL	TBX20_4_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38561.rmdup.bam	chr5	156072389	156188434	DEL	SGCD_6_to_8	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38562.rmdup.bam	chr4	88975208	88981338	DEL	PKD2_8_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38563.rmdup.bam	chr1	218534597	218612917	DEL	TGFB2_2_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38566.rmdup.bam	chr7	30060200	30068157	DEL	FKBP14_3_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38567.rmdup.bam	chrX	31790048	31895517	DEL	DMD_31_to_34	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38570.rmdup.bam	chr4	120055598	120087577	DEL	MYOZ2_1_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38571.rmdup.bam	chr15	48782576	48793316	DEL	FBN1_39_to_45	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38574.rmdup.bam	chr6	116718332	116760540	DEL	DSE_2_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38575.rmdup.bam	chr5	127708237	127746573	DEL	FBN2_50_to_57	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38576.rmdup.bam	chrX	32378869	32406660	DEL	DMD_46_to_50	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38577.rmdup.bam	chr4	120069991	120087577	DEL	MYOZ2_2_to_4	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38578.rmdup.bam	chr12	114801868	114839521	DEL	TBX5_2_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38579.rmdup.bam	chr7	83604371	83633436	DEL	SEMA3A_3_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38580.rmdup.bam	chr12	25376471	25400394	DEL	KRAS_3_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38589.rmdup.bam	chr15	67428281	67479277	DEL	SMAD3_3_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38592.rmdup.bam	chr14	76423452	76440135	DEL	TGFB3_1_to_6	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38595.rmdup.bam	chr15	66772010	66785028	DEL	MAP2K1_7_to_12	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38596.rmdup.bam	chr3	192051069	192128044	DEL	FGF12_3_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38614.rmdup.bam	chr4	114201797	114236929	DEL	ANK2_21_to_28	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38616.rmdup.bam	chr3	20210119	20214749	DEL	SGOL1_2_to_3	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38617.rmdup.bam	chr7	83629196	83677843	DEL	SEMA3A_6_to_11	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38620.rmdup.bam	chrX	31188389	31203057	DEL	DMD_7_to_12	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38621.rmdup.bam	chr1	92172135	92189726	DEL	TGFBR3_4_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38623.rmdup.bam	chr2	40395346	40659452	DEL	SLC8A1_5_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38630.rmdup.bam	chr18	48582410	48606863	DEL	SMAD4_5_to_10	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38632.rmdup.bam	chrX	31891277	32237212	DEL	DMD_34_to_39	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38633.rmdup.bam	chr18	25560833	25575676	DEL	CDH2_3_to_9	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38634.rmdup.bam	chr14	73612650	73661605	DEL	PSEN1_1_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38635.rmdup.bam	chr1	116285370	116313189	DEL	CASQ2_10_to_11	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38636.rmdup.bam	chr14	73638237	73661605	DEL	PSEN1_3_to_5	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38637.rmdup.bam	chr2	39231479	39244066	DEL	SOS1_7_to_13	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38638.rmdup.bam	chr3	53767321	53776444	DEL	CACNA1D_23_to_24	1	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38639.rmdup.bam	chr18	32441845	32472477	DEL	DTNA_18_to_25	1	multiple
