/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36462.rmdup.bam	chr1	115249071	115254425	DUP	NRAS_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37875.rmdup.bam	chr2	40402811	40407711	DUP	SLC8A1_8_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38126.rmdup.bam	chr16	30908650	30915893	DUP	CTF1_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38127.rmdup.bam	chr10	101481676	101493881	DUP	COX15_7_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38128.rmdup.bam	chr5	131717759	131732040	DUP	SLC22A5_3_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38129.rmdup.bam	chr7	151259080	151275617	DUP	PRKAG2_3_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38130.rmdup.bam	chr3	20200513	20221920	DUP	SGOL1_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38136.rmdup.bam	chr5	127708237	127733046	DUP	FBN2_50_to_56	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38137.rmdup.bam	chr10	67678051	68042459	DUP	CTNNA3_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38138.rmdup.bam	chr10	18785200	18791952	DUP	CACNB2_9_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38140.rmdup.bam	chr19	4088518	4112735	DUP	MAP2K2_1_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38141.rmdup.bam	chr4	113968806	114097754	DUP	ANK2_3_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38143.rmdup.bam	chr5	155769472	156188434	DUP	SGCD_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38144.rmdup.bam	chr4	186433349	186448405	DUP	PDLIM3_5_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38145.rmdup.bam	chr7	81665315	81697913	DUP	CACNA2D1_29_to_33	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38146.rmdup.bam	chr3	30646302	30717811	DUP	TGFBR2_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38147.rmdup.bam	chr12	112881996	112895942	DUP	PTPN11_2_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38148.rmdup.bam	chr3	57873689	57904913	DUP	SLMAP_13_to_20	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38149.rmdup.bam	chr4	120055598	120087577	DUP	MYOZ2_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38150.rmdup.bam	chr3	30646302	30732083	DUP	TGFBR2_1_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38151.rmdup.bam	chr1	218534597	218612917	DUP	TGFB2_2_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38152.rmdup.bam	chr3	30646302	30666847	DUP	TGFBR2_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38153.rmdup.bam	chr17	45289082	45302489	DUP	MYL4_2_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38154.rmdup.bam	chr12	114791299	114834777	DUP	TBX5_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38155.rmdup.bam	chr9	108364466	108404488	DUP	FKTN_5_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38156.rmdup.bam	chr11	119156476	119179154	DUP	CBL_11_to_16	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38157.rmdup.bam	chr7	91672292	91693825	DUP	AKAP9_21_to_24	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38158.rmdup.bam	chr3	12630264	12643996	DUP	RAF1_5_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38162.rmdup.bam	chr9	101889103	101913668	DUP	TGFBR1_2_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38163.rmdup.bam	chr19	50136754	50142463	DUP	RRAS_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38168.rmdup.bam	chr15	52431258	52474152	DUP	GNB5_7_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38170.rmdup.bam	chr5	121400356	121408368	DUP	LOX_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38171.rmdup.bam	chr5	155769472	156188434	DUP	SGCD_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38497.rmdup.bam	chr10	121429739	121438828	DUP	BAG3_3_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38558.rmdup.bam	chr10	67678051	67865080	DUP	CTNNA3_1_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38561.rmdup.bam	chr15	38589540	38645899	DUP	SPRED1_2_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38562.rmdup.bam	chr12	111346797	111355676	DUP	MYL2_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38563.rmdup.bam	chr2	105975659	105992222	DUP	FHL2_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38566.rmdup.bam	chrX	31695465	31749938	DUP	DMD_29_to_30	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38567.rmdup.bam	chr4	120069991	120087577	DUP	MYOZ2_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38570.rmdup.bam	chr7	30056531	30068157	DUP	FKBP14_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38571.rmdup.bam	chr10	68379375	69283803	DUP	CTNNA3_9_to_15	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38574.rmdup.bam	chr7	30052273	30064512	DUP	FKBP14_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38575.rmdup.bam	chr7	30052273	30064512	DUP	FKBP14_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38576.rmdup.bam	chr2	155564082	155713855	DUP	KCNJ3_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38577.rmdup.bam	chr11	118035569	118041502	DUP	SCN2B_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38578.rmdup.bam	chr5	86646892	86667793	DUP	RASA1_11_to_14	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38579.rmdup.bam	chr10	121409157	121434195	DUP	BAG3_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38580.rmdup.bam	chr12	112881996	112890350	DUP	PTPN11_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38589.rmdup.bam	chr16	30908650	30915893	DUP	CTF1_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38592.rmdup.bam	chr18	3185400	3217256	DUP	MYOM1_31_to_34	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38595.rmdup.bam	chr3	30711097	30732083	DUP	TGFBR2_5_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38596.rmdup.bam	chr7	30060200	30068157	DUP	FKBP14_3_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38614.rmdup.bam	chr7	112410804	112426916	DUP	TMEM168_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38616.rmdup.bam	chr14	73657317	73666919	DUP	PSEN1_5_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38617.rmdup.bam	chr1	162333105	162339289	DUP	NOS1AP_9_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38620.rmdup.bam	chr19	35527947	35532679	DUP	SCN1B_4_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38621.rmdup.bam	chr10	75861499	75873900	DUP	VCL_14_to_18	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38623.rmdup.bam	chr15	73612787	73638177	DUP	HCN4_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38630.rmdup.bam	chr4	186421422	186431752	DUP	PDLIM3_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38632.rmdup.bam	chr4	186421422	186448405	DUP	PDLIM3_1_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38633.rmdup.bam	chr4	121717344	121762507	DUP	PRDM5_7_to_14	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38634.rmdup.bam	chr16	15845175	15872115	DUP	MYH11_23_to_30	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38635.rmdup.bam	chr10	54009245	54034316	DUP	PRKG1_11_to_13	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38636.rmdup.bam	chr7	35240007	35286746	DUP	TBX20_1_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38637.rmdup.bam	chr1	92182788	92265055	DUP	TGFBR3_8_to_15	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38638.rmdup.bam	chr18	29119072	29128734	DUP	DSG2_12_to_14	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38639.rmdup.bam	chr2	105987982	106005006	DUP	FHL2_4_to_5	3	multiple
