/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB16246.rmdup.bam	chr10	88437048	88461181	DUP	LDB3_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB34669.rmdup.bam	chr19	35527844	35532681	DUP	SCN1B_4_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35019.rmdup.bam	chr1	115249105	115254424	DUP	NRAS_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35445.rmdup.bam	chr5	155754490	156024136	DUP	SGCD_1_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35459.rmdup.bam	chr9	108364420	108379763	DUP	FKTN_4_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35460.rmdup.bam	chr11	118009846	118018020	DUP	SCN4B_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35887.rmdup.bam	chr4	120069950	120087624	DUP	MYOZ2_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35975.rmdup.bam	chr9	101892714	101913638	DUP	TGFBR1_3_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35976.rmdup.bam	chr12	112888923	112895942	DUP	PTPN11_4_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35977.rmdup.bam	chr5	155769423	156188452	DUP	SGCD_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35978.rmdup.bam	chr1	236908891	236914640	DUP	ACTN2_13_to_14	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35979.rmdup.bam	chr11	2787897	2801346	DUP	KCNQ1_12_to_15	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35983.rmdup.bam	chr16	15836910	15849441	DUP	MYH11_19_to_22	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35984.rmdup.bam	chr6	123586764	123602324	DUP	TRDN_10_to_17	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35985.rmdup.bam	chr1	162300731	162329002	DUP	NOS1AP_5_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36018.rmdup.bam	chr9	108364420	108399596	DUP	FKTN_4_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36019.rmdup.bam	chr11	118005691	118018020	DUP	SCN4B_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36020.rmdup.bam	chr6	123635511	123689413	DUP	TRDN_18_to_22	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36021.rmdup.bam	chr3	12630221	12649874	DUP	RAF1_5_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36085.rmdup.bam	chr11	118009846	118025467	DUP	SCN4B_2_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36086.rmdup.bam	chr3	12651373	12662271	DUP	RAF1_13_to_14	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36119.rmdup.bam	chr3	57741327	57835052	DUP	SLMAP_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36120.rmdup.bam	chr9	108361350	108399596	DUP	FKTN_3_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36121.rmdup.bam	chr11	2795014	2871335	DUP	KCNQ1_13_to_16	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36124.rmdup.bam	chr4	111551348	111556241	DUP	PITX2_3_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36125B.rmdup.bam	chr12	112886046	112922084	DUP	PTPN11_3_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36142.rmdup.bam	chr1	162300731	162329002	DUP	NOS1AP_5_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36143.rmdup.bam	chr18	32384107	32407345	DUP	DTNA_4_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36146.rmdup.bam	chr10	88426398	88454420	DUP	LDB3_1_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36147.rmdup.bam	chr12	32991886	33034042	DUP	PKP2_8_to_13	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36149.rmdup.bam	chr3	57900557	57910826	DUP	SLMAP_19_to_20	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36150.rmdup.bam	chr1	116241810	116283031	DUP	CASQ2_1_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36151.rmdup.bam	chr12	112888923	112895942	DUP	PTPN11_4_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36152.rmdup.bam	chr18	29096109	29106927	DUP	DSG2_2_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36153.rmdup.bam	chrX	100650746	100661048	DUP	GLA_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36154.rmdup.bam	chr19	605788	618577	DUP	HCN2_4_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36155.rmdup.bam	chr1	26376313	26389901	DUP	TRIM63_1_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36156.rmdup.bam	chr6	133800525	133838649	DUP	EYA4_10_to_14	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36157.rmdup.bam	chr10	67860839	68528250	DUP	CTNNA3_5_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36158.rmdup.bam	chr12	2611932	2668240	DUP	CACNA1C_8_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36169.rmdup.bam	chr3	12623962	12635367	DUP	RAF1_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36171.rmdup.bam	chr1	26376313	26389901	DUP	TRIM63_1_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36172.rmdup.bam	chr1	156098332	156110993	DUP	LMNA_2_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36173.rmdup.bam	chr12	2619901	2679035	DUP	CACNA1C_9_to_13	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36177.rmdup.bam	chr9	101865336	101902448	DUP	TGFBR1_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36178.rmdup.bam	chr3	30727800	30735142	DUP	TGFBR2_6_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36184.rmdup.bam	chr7	151267662	151331299	DUP	PRKAG2_8_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36186.rmdup.bam	chr10	112722066	112747598	DUP	SHOC2_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36187.rmdup.bam	chr6	133701444	133788071	DUP	EYA4_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36188.rmdup.bam	chr10	90692929	90705740	DUP	ACTA2_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36190.rmdup.bam	chr14	50645214	50651400	DUP	SOS2_16_to_17	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36191.rmdup.bam	chr11	123502772	123511108	DUP	SCN3B_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36192.rmdup.bam	chr18	32393797	32433967	DUP	DTNA_6_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36193.rmdup.bam	chr10	112568065	112593015	DUP	RBM20_8_to_13	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36195.rmdup.bam	chr10	21118049	21136373	DUP	NEBL_13_to_17	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36225.rmdup.bam	chr19	35519634	35527055	DUP	SCN1B_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36227.rmdup.bam	chr14	50617712	50643346	DUP	SOS2_10_to_15	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36228.rmdup.bam	chr1	155868127	155876670	DUP	RIT1_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36229.rmdup.bam	chr10	88437048	88461181	DUP	LDB3_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36230.rmdup.bam	chr3	12623962	12644010	DUP	RAF1_1_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36231.rmdup.bam	chr6	133825168	133848468	DUP	EYA4_12_to_16	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36232.rmdup.bam	chr19	16599102	16609090	DUP	CALR3_6_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36237.rmdup.bam	chr3	189347238	189528392	DUP	TP63_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36238.rmdup.bam	chr3	189579945	189592860	DUP	TP63_5_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36241.rmdup.bam	chr4	120055621	120081381	DUP	MYOZ2_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36242.rmdup.bam	chr15	66725289	66776293	DUP	MAP2K1_2_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36243.rmdup.bam	chr4	120077101	120087624	DUP	MYOZ2_3_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36244.rmdup.bam	chr1	156098332	156110993	DUP	LMNA_2_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36245.rmdup.bam	chr2	40340341	40368892	DUP	SLC8A1_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36246.rmdup.bam	chr10	69946586	69972263	DUP	MYPN_12_to_19	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36247.rmdup.bam	chr20	31994162	32007804	DUP	SNTA1_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36248.rmdup.bam	chr4	120077101	120109406	DUP	MYOZ2_3_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36254.rmdup.bam	chr12	112908672	112917895	DUP	PTPN11_7_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36255.rmdup.bam	chr1	116245737	116271819	DUP	CASQ2_3_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36260.rmdup.bam	chr5	155754490	156076622	DUP	SGCD_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36261.rmdup.bam	chr10	68379374	69368882	DUP	CTNNA3_9_to_16	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36262.rmdup.bam	chr10	69952044	69972263	DUP	MYPN_13_to_19	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36263.rmdup.bam	chr11	71948689	71954409	DUP	PHOX2A_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36278.rmdup.bam	chrX	31836016	31857011	DUP	DMD_30_to_31	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36287.rmdup.bam	chr10	69931745	69963826	DUP	MYPN_10_to_17	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36306.rmdup.bam	chr7	154427447	154563357	DUP	DPP6_7_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36307.rmdup.bam	chr15	38589498	38634172	DUP	SPRED1_2_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36308.rmdup.bam	chr4	186442440	186458739	DUP	PDLIM3_6_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36310.rmdup.bam	chr10	121427186	121438847	DUP	BAG3_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36311.rmdup.bam	chr3	32186038	32203242	DUP	GPD1L_5_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36312.rmdup.bam	chr3	57855284	57877907	DUP	SLMAP_11_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36313.rmdup.bam	chr15	63347108	63360194	DUP	TPM1_3_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36331.rmdup.bam	chr3	30646225	30732078	DUP	TGFBR2_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36334.rmdup.bam	chr10	18787665	18809978	DUP	CACNB2_6_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36335.rmdup.bam	chr4	120069950	120109406	DUP	MYOZ2_2_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36336.rmdup.bam	chr2	105975689	105982003	DUP	FHL2_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36337.rmdup.bam	chr1	218576434	218616754	DUP	TGFB2_3_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36338.rmdup.bam	chr10	112577754	112585448	DUP	RBM20_10_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36339.rmdup.bam	chr19	49667147	49674068	DUP	TRPM4_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36340.rmdup.bam	chr10	67678036	68141186	DUP	CTNNA3_1_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36341.rmdup.bam	chr1	237763249	237782862	DUP	RYR2_35_to_38	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36342.rmdup.bam	chr19	47102541	47111290	DUP	CALM3_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36343.rmdup.bam	chr5	156182516	156188452	DUP	SGCD_7_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36344.rmdup.bam	chrX	119573509	119592700	DUP	LAMP2_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36345.rmdup.bam	chr2	40389918	40659475	DUP	SLC8A1_4_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36354.rmdup.bam	chr10	88437048	88454420	DUP	LDB3_2_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36355.rmdup.bam	chr19	587794	607399	DUP	HCN2_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36357.rmdup.bam	chr11	71948689	71954409	DUP	PHOX2A_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36358.rmdup.bam	chr1	218605348	218612913	DUP	TGFB2_4_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36359.rmdup.bam	chr19	46271594	46280367	DUP	DMPK_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36371.rmdup.bam	chr10	68533126	68981704	DUP	CTNNA3_11_to_13	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36372.rmdup.bam	chr11	118035550	118041643	DUP	SCN2B_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36373.rmdup.bam	chr10	112743310	112773626	DUP	SHOC2_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36377.rmdup.bam	chr12	22026512	22042944	DUP	ABCC9_23_to_25	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36378.rmdup.bam	chr1	236904120	236920574	DUP	ACTN2_11_to_17	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36383.rmdup.bam	chr3	189602107	189614342	DUP	TP63_11_to_14	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36384.rmdup.bam	chr11	2606724	2871335	DUP	KCNQ1_9_to_16	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36385.rmdup.bam	chr11	118009846	118025467	DUP	SCN4B_2_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36392.rmdup.bam	chr10	69931745	69963826	DUP	MYPN_10_to_17	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36393.rmdup.bam	chr1	112316647	112325489	DUP	KCND3_1_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36424.rmdup.bam	chr11	123506818	123526591	DUP	SCN3B_2_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36426.rmdup.bam	chr11	123502772	123518534	DUP	SCN3B_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36427.rmdup.bam	chr12	98907495	98933425	DUP	TMPO_1_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36428.rmdup.bam	chr4	114249326	114262554	DUP	ANK2_27_to_32	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36446.rmdup.bam	chr11	71948689	71954409	DUP	PHOX2A_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36447.rmdup.bam	chr9	101889061	101913638	DUP	TGFBR1_2_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36448.rmdup.bam	chr16	30908660	30915961	DUP	CTF1_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36450.rmdup.bam	chrX	32326123	32366272	DUP	DMD_38_to_41	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36451.rmdup.bam	chr15	67455057	67479277	DUP	SMAD3_2_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36452.rmdup.bam	chr2	105975689	105986272	DUP	FHL2_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36456.rmdup.bam	chr6	112497247	112539745	DUP	LAMA4_30_to_37	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36457.rmdup.bam	chr10	21145093	21188184	DUP	NEBL_20_to_27	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36489.rmdup.bam	chr10	68038152	68383618	DUP	CTNNA3_6_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36535.rmdup.bam	chr9	108356798	108372308	DUP	FKTN_2_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36547.rmdup.bam	chr1	116266041	116289609	DUP	CASQ2_5_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36550.rmdup.bam	chr10	21127592	21160845	DUP	NEBL_16_to_23	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36557.rmdup.bam	chr10	18785208	18809978	DUP	CACNB2_5_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36569.rmdup.bam	chr20	32003449	32028908	DUP	SNTA1_4_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36570.rmdup.bam	chr2	39210912	39226642	DUP	SOS1_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36572.rmdup.bam	chr3	189453453	189589271	DUP	TP63_2_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36573.rmdup.bam	chr9	108335263	108384417	DUP	FKTN_1_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36578.rmdup.bam	chr18	32441854	32464241	DUP	DTNA_14_to_18	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36580.rmdup.bam	chr4	111540142	111556241	DUP	PITX2_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36583.rmdup.bam	chr3	32167492	32209452	DUP	GPD1L_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36599.rmdup.bam	chr10	88426398	88454420	DUP	LDB3_1_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36602.rmdup.bam	chr11	71948689	71954409	DUP	PHOX2A_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36603.rmdup.bam	chr3	189602107	189610746	DUP	TP63_11_to_13	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36604.rmdup.bam	chr10	68977288	69283794	DUP	CTNNA3_13_to_14	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36605.rmdup.bam	chr12	112882004	112895942	DUP	PTPN11_2_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36606.rmdup.bam	chr1	92159153	92165776	DUP	TGFBR3_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36607.rmdup.bam	chr10	90695741	90710737	DUP	ACTA2_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36608.rmdup.bam	chr5	156014165	156188452	DUP	SGCD_4_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36611.rmdup.bam	chr1	116258377	116285525	DUP	CASQ2_4_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36612.rmdup.bam	chr3	12623962	12644010	DUP	RAF1_1_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36614.rmdup.bam	chr12	25376472	25400368	DUP	KRAS_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36615.rmdup.bam	chr10	67860839	68537358	DUP	CTNNA3_5_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36707.rmdup.bam	chr2	40385829	40399564	DUP	SLC8A1_3_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36708.rmdup.bam	chr3	57844350	57852518	DUP	SLMAP_8_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36709.rmdup.bam	chr7	151259088	151269393	DUP	PRKAG2_3_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36710.rmdup.bam	chr3	32186038	32203242	DUP	GPD1L_5_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36713.rmdup.bam	chr15	67455057	67479277	DUP	SMAD3_2_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36715.rmdup.bam	chr1	116258377	116313213	DUP	CASQ2_4_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36717.rmdup.bam	chrX	119573509	119605075	DUP	LAMP2_2_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36718.rmdup.bam	chr18	29096109	29104288	DUP	DSG2_2_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36719.rmdup.bam	chr10	121427186	121438847	DUP	BAG3_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36720.rmdup.bam	chr1	116266041	116277670	DUP	CASQ2_5_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36721.rmdup.bam	chr5	45265115	45355424	DUP	HCN1_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36722.rmdup.bam	chr4	114156067	114181643	DUP	ANK2_6_to_13	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36723.rmdup.bam	chr7	140474636	140503436	DUP	BRAF_6_to_13	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36724.rmdup.bam	chr11	118005691	118018020	DUP	SCN4B_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36725.rmdup.bam	chr1	237653030	237662128	DUP	RYR2_18_to_20	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36726.rmdup.bam	chr10	121427186	121438847	DUP	BAG3_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36730.rmdup.bam	chr10	112722066	112762379	DUP	SHOC2_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36732.rmdup.bam	chr10	18427514	18797552	DUP	CACNB2_1_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36733.rmdup.bam	chr3	38746694	38757647	DUP	SCN10A_3_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36735.rmdup.bam	chr11	123502772	123518534	DUP	SCN3B_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36743.rmdup.bam	chr16	15848122	15874778	DUP	MYH11_23_to_30	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36746.rmdup.bam	chr16	15855577	15867644	DUP	MYH11_27_to_28	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36749.rmdup.bam	chr7	151263726	151331299	DUP	PRKAG2_6_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36750.rmdup.bam	chr4	120083290	120109406	DUP	MYOZ2_4_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36751.rmdup.bam	chr1	112316647	112325489	DUP	KCND3_1_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36753.rmdup.bam	chr5	45259970	45464185	DUP	HCN1_1_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36754.rmdup.bam	chr2	40340341	40399564	DUP	SLC8A1_1_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36755.rmdup.bam	chr11	2589731	2608712	DUP	KCNQ1_3_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36760.rmdup.bam	chr4	186421397	186448400	DUP	PDLIM3_1_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36767.rmdup.bam	chr5	45301625	45398888	DUP	HCN1_3_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36781.rmdup.bam	chr18	32343849	32388343	DUP	DTNA_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36782.rmdup.bam	chr12	25376472	25382422	DUP	KRAS_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36792.rmdup.bam	chr11	118012472	118025467	DUP	SCN4B_3_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36794.rmdup.bam	chr12	112888923	112895942	DUP	PTPN11_4_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36795.rmdup.bam	chr5	45259970	45398888	DUP	HCN1_1_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36796.rmdup.bam	chr6	112484286	112512482	DUP	LAMA4_27_to_33	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36811.rmdup.bam	chr15	67471503	67484925	DUP	SMAD3_5_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36812.rmdup.bam	chr2	105975689	105982003	DUP	FHL2_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36813.rmdup.bam	chr11	123506818	123518534	DUP	SCN3B_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36814.rmdup.bam	chr1	115254344	115260831	DUP	NRAS_3_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36815.rmdup.bam	chr1	116258377	116285525	DUP	CASQ2_4_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36816.rmdup.bam	chr10	68038152	68942354	DUP	CTNNA3_6_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36817.rmdup.bam	chr1	116266041	116313213	DUP	CASQ2_5_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36818.rmdup.bam	chr1	116273446	116313213	DUP	CASQ2_7_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36819.rmdup.bam	chr5	45259970	45647786	DUP	HCN1_1_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36820.rmdup.bam	chr15	73612668	73619860	DUP	HCN4_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36824.rmdup.bam	chr3	189523984	189606415	DUP	TP63_4_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36825.rmdup.bam	chr10	121427186	121434293	DUP	BAG3_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36826.rmdup.bam	chr11	123506818	123518534	DUP	SCN3B_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36827.rmdup.bam	chr11	123506818	123526591	DUP	SCN3B_2_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36828.rmdup.bam	chr10	121427186	121438847	DUP	BAG3_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36829.rmdup.bam	chr1	115249105	115254424	DUP	NRAS_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36834.rmdup.bam	chr4	120055621	120087624	DUP	MYOZ2_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36835.rmdup.bam	chr10	112722066	112766628	DUP	SHOC2_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36836.rmdup.bam	chr5	45459872	45698346	DUP	HCN1_6_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36837.rmdup.bam	chrX	31945637	31952419	DUP	DMD_33_to_34	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36838.rmdup.bam	chr10	68038152	68528250	DUP	CTNNA3_6_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36839.rmdup.bam	chr15	38614877	38634172	DUP	SPRED1_4_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36840.rmdup.bam	chr11	118012472	118018020	DUP	SCN4B_3_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36841.rmdup.bam	chr2	105981950	105992265	DUP	FHL2_3_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36842.rmdup.bam	chr3	30711054	30732078	DUP	TGFBR2_4_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36843.rmdup.bam	chr19	49658973	49688644	DUP	TRPM4_1_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36844.rmdup.bam	chr12	112854765	112912920	DUP	PTPN11_1_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36845.rmdup.bam	chr9	101898064	101913638	DUP	TGFBR1_4_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36847.rmdup.bam	chr7	151269895	151331299	DUP	PRKAG2_9_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36848.rmdup.bam	chr1	21580263	21619060	DUP	ECE1_12_to_18	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36849.rmdup.bam	chr14	50621641	50651400	DUP	SOS2_11_to_17	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36851.rmdup.bam	chr9	108356798	108384417	DUP	FKTN_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36852.rmdup.bam	chr2	47385831	47399998	DUP	CALM2_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36854.rmdup.bam	chr5	131717763	131732018	DUP	SLC22A5_3_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36857.rmdup.bam	chr1	155872026	155876670	DUP	RIT1_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36860.rmdup.bam	chr10	112568065	112585448	DUP	RBM20_8_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36861.rmdup.bam	chr19	4088545	4104626	DUP	MAP2K2_1_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36862.rmdup.bam	chr2	40395344	40659475	DUP	SLC8A1_5_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36863.rmdup.bam	chr15	73633650	73662762	DUP	HCN4_5_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36867.rmdup.bam	chr1	155872026	155876670	DUP	RIT1_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36868.rmdup.bam	chr3	57815034	57845961	DUP	SLMAP_2_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36872.rmdup.bam	chr12	21960710	21993180	DUP	ABCC9_4_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36873.rmdup.bam	chr11	118005691	118018020	DUP	SCN4B_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36876.rmdup.bam	chr1	156102118	156110993	DUP	LMNA_3_to_9	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36877.rmdup.bam	chr1	26381617	26389901	DUP	TRIM63_3_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36880.rmdup.bam	chr10	21110061	21131854	DUP	NEBL_10_to_16	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36881.rmdup.bam	chr4	120055621	120087624	DUP	MYOZ2_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36886.rmdup.bam	chr3	30684163	30732078	DUP	TGFBR2_2_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36894.rmdup.bam	chr15	63349686	63360194	DUP	TPM1_4_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36895.rmdup.bam	chr17	78088691	78095280	DUP	GAA_9_to_13	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36896.rmdup.bam	chr2	47395778	47405678	DUP	CALM2_4_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36901.rmdup.bam	chr20	42786077	42817395	DUP	JPH2_4_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36902.rmdup.bam	chr6	123650939	123675817	DUP	TRDN_19_to_21	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36903.rmdup.bam	chr18	32403125	32430422	DUP	DTNA_9_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36904.rmdup.bam	chr2	39220188	39236409	DUP	SOS1_4_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36906.rmdup.bam	chrX	32405542	32458582	DUP	DMD_48_to_51	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36907.rmdup.bam	chr1	237661935	237668880	DUP	RYR2_21_to_22	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36908.rmdup.bam	chr1	155868127	155876670	DUP	RIT1_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36909.rmdup.bam	chr17	29577877	29594433	DUP	NF1_29_to_34	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36914.rmdup.bam	chr5	216320	233191	DUP	SDHA_1_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36915.rmdup.bam	chr12	32953261	32979171	DUP	PKP2_4_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36919.rmdup.bam	chr2	105981950	105992265	DUP	FHL2_3_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36923.rmdup.bam	chr4	111537230	111544702	DUP	PITX2_1_to_2	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36924.rmdup.bam	chr7	151259088	151269393	DUP	PRKAG2_3_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36925.rmdup.bam	chr1	155872026	155882726	DUP	RIT1_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36927.rmdup.bam	chr2	47395778	47405678	DUP	CALM2_4_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36928.rmdup.bam	chr10	67826989	68282607	DUP	CTNNA3_4_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36929.rmdup.bam	chr2	179512468	179526059	DUP	TTN_59_to_63	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36933.rmdup.bam	chr16	15845175	15856591	DUP	MYH11_22_to_26	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36934.rmdup.bam	chr10	90695741	90710737	DUP	ACTA2_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36935.rmdup.bam	chr9	108335263	108384417	DUP	FKTN_1_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36936.rmdup.bam	chr1	92182793	92265103	DUP	TGFBR3_8_to_15	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36937.rmdup.bam	chr3	30684163	30732078	DUP	TGFBR2_2_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36940.rmdup.bam	chr4	111551348	111556241	DUP	PITX2_3_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36943.rmdup.bam	chr1	162037917	162329002	DUP	NOS1AP_1_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36944.rmdup.bam	chr15	38589498	38619097	DUP	SPRED1_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36945.rmdup.bam	chr14	50594589	50599557	DUP	SOS2_3_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36946.rmdup.bam	chrX	31695415	31952419	DUP	DMD_27_to_34	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36947.rmdup.bam	chr4	114159565	114197881	DUP	ANK2_8_to_15	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36948.rmdup.bam	chr6	7553875	7561708	DUP	DSP_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36949.rmdup.bam	chr7	150669621	150677153	DUP	KCNH2_11_to_12	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36950.rmdup.bam	chr1	92159153	92176415	DUP	TGFBR3_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36951.rmdup.bam	chr4	111540142	111556241	DUP	PITX2_2_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36952.rmdup.bam	chr10	69903147	69911943	DUP	MYPN_3_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36960.rmdup.bam	chr18	32371925	32402955	DUP	DTNA_3_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36962.rmdup.bam	chr3	57891535	57915166	DUP	SLMAP_15_to_21	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36964.rmdup.bam	chr12	25366324	25382422	DUP	KRAS_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36965.rmdup.bam	chr1	155872026	155876670	DUP	RIT1_2_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36966.rmdup.bam	chr9	101865336	101902448	DUP	TGFBR1_1_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36970.rmdup.bam	chr6	123635511	123660899	DUP	TRDN_18_to_20	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36971.rmdup.bam	chr18	29169790	29177293	DUP	TTR_1_to_3	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36972.rmdup.bam	chr11	123511078	123518534	DUP	SCN3B_3_to_4	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36973.rmdup.bam	chr12	112913379	112944631	DUP	PTPN11_8_to_14	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36989.rmdup.bam	chr1	218605348	218612913	DUP	TGFB2_4_to_6	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36992.rmdup.bam	chr5	45265115	45698346	DUP	HCN1_2_to_8	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36993.rmdup.bam	chr14	76427583	76449288	DUP	TGFB3_3_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36994.rmdup.bam	chrX	31162332	31200673	DUP	DMD_4_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36997.rmdup.bam	chr17	39921555	39930157	DUP	JUP_8_to_10	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36999.rmdup.bam	chr12	32991886	33051816	DUP	PKP2_8_to_14	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37000.rmdup.bam	chr1	21580263	21608002	DUP	ECE1_12_to_17	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37001.rmdup.bam	chr17	39909844	39923495	DUP	JUP_1_to_7	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37002.rmdup.bam	chr10	67724294	67865083	DUP	CTNNA3_2_to_5	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37003.rmdup.bam	chr7	140450999	140496342	DUP	BRAF_4_to_11	3	multiple
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37004.rmdup.bam	chr5	45459872	45647786	DUP	HCN1_6_to_7	3	multiple
