/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB16246.rmdup.bam	chr18	29100190	29101782	DEL	DSG2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB34669.rmdup.bam	chr1	162039417	162040748	DEL	NOS1AP	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35019.rmdup.bam	chr5	239897	241167	DEL	SDHA	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35445.rmdup.bam	chr18	28681289	28682509	DEL	DSC2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35459.rmdup.bam	chr3	30647725	30649145	DEL	TGFBR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35460.rmdup.bam	chr7	154672015	154673235	DEL	DPP6	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35887.rmdup.bam	chr5	127615308	127616584	DEL	FBN2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35925.rmdup.bam	chrX	32365947	32367221	DEL	DMD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35975.rmdup.bam	chr19	49699046	49700794	DEL	TRPM4	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35976.rmdup.bam	chr15	48755520	48756794	DEL	FBN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35977.rmdup.bam	chr18	29115589	29116968	DEL	DSG2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35978.rmdup.bam	chr10	112403612	112405078	DEL	RBM20	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35979.rmdup.bam	chr2	119599861	119601507	DEL	EN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35983.rmdup.bam	chr1	78398389	78399741	DEL	NEXN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35984.rmdup.bam	chr6	112465420	112466710	DEL	LAMA4	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35985.rmdup.bam	chr18	29100190	29101782	DEL	DSG2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36018.rmdup.bam	chr15	48904631	48905865	DEL	FBN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36019.rmdup.bam	chr15	48801665	48802941	DEL	FBN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36020.rmdup.bam	chr5	45266615	45267931	DEL	HCN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36021.rmdup.bam	chr12	21959704	21960988	DEL	ABCC9	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36085.rmdup.bam	chr7	154678805	154680025	DEL	DPP6	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36086.rmdup.bam	chr16	15872058	15873278	DEL	MYH11	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36119.rmdup.bam	chr2	179486821	179488069	DEL	TTN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36120.rmdup.bam	chr15	48773276	48774552	DEL	FBN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36121.rmdup.bam	chr14	23889591	23890833	DEL	MYH7	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36124.rmdup.bam	chr3	14170336	14171636	DEL	TMEM43	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36125B.rmdup.bam	chr6	123585863	123587083	DEL	TRDN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36142.rmdup.bam	chrX	32489705	32491001	DEL	DMD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36143.rmdup.bam	chr14	23875655	23876983	DEL	MYH6	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36146.rmdup.bam	chr6	123652439	123653659	DEL	TRDN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36147.rmdup.bam	chr2	40404951	40406209	DEL	SLC8A1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36149.rmdup.bam	chr8	72128350	72129839	DEL	EYA1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36150.rmdup.bam	chr12	21981316	21982570	DEL	ABCC9	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36151.rmdup.bam	chr9	139392674	139394387	DEL	NOTCH1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36152.rmdup.bam	chr15	48887904	48889150	DEL	FBN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36153.rmdup.bam	chr9	108376983	108378263	DEL	FKTN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36154.rmdup.bam	chr12	32995540	32996822	DEL	PKP2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36155.rmdup.bam	chrX	31186984	31188294	DEL	DMD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36156.rmdup.bam	chr4	114285619	114286913	DEL	ANK2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36157.rmdup.bam	chr19	16600602	16601957	DEL	CALR3	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36158.rmdup.bam	chr2	47387331	47388551	DEL	CALM2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36169.rmdup.bam	chr15	63357474	63358694	DEL	TPM1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36171.rmdup.bam	chr4	114283918	114285200	DEL	ANK2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36172.rmdup.bam	chr17	29496333	29497591	DEL	NF1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36173.rmdup.bam	chr11	123508318	123509608	DEL	SCN3B	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36177.rmdup.bam	chr5	127699717	127700993	DEL	FBN2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36178.rmdup.bam	chr5	217820	219208	DEL	SDHA	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36184.rmdup.bam	chr3	38748194	38749450	DEL	SCN10A	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36186.rmdup.bam	chr10	68039652	68040954	DEL	CTNNA3	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36187.rmdup.bam	chr15	48784082	48785358	DEL	FBN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36188.rmdup.bam	chr1	237550811	237552059	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36190.rmdup.bam	chr1	237663435	237664778	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36191.rmdup.bam	chrX	31675531	31676837	DEL	DMD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36192.rmdup.bam	chr17	29653939	29655434	DEL	NF1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36193.rmdup.bam	chr6	112440910	112442250	DEL	LAMA4	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36195.rmdup.bam	chr5	127663812	127665088	DEL	FBN2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36225.rmdup.bam	chr2	179562994	179564216	DEL	TTN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36227.rmdup.bam	chr11	2798626	2799846	DEL	KCNQ1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36228.rmdup.bam	chr7	140533832	140535248	DEL	BRAF	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36229.rmdup.bam	chr6	123590392	123591612	DEL	TRDN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36230.rmdup.bam	chr1	237433221	237434491	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36231.rmdup.bam	chr3	57849699	57851018	DEL	SLMAP	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36232.rmdup.bam	chrX	31985879	31987207	DEL	DMD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36237.rmdup.bam	chr6	123867891	123869111	DEL	TRDN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36238.rmdup.bam	chr8	72229211	72230499	DEL	EYA1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36241.rmdup.bam	chr6	123576419	123577639	DEL	TRDN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36242.rmdup.bam	chr15	48736162	48737432	DEL	FBN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36243.rmdup.bam	chr1	218608736	218610064	DEL	TGFB2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36244.rmdup.bam	chr6	123598867	123600087	DEL	TRDN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36245.rmdup.bam	chr15	48781472	48782851	DEL	FBN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36246.rmdup.bam	chr22	40081090	40083060	DEL	CACNA1I	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36247.rmdup.bam	chr12	22040184	22041444	DEL	ABCC9	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36248.rmdup.bam	chr1	236898359	236899595	DEL	ACTN2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36254.rmdup.bam	chr7	81600517	81601755	DEL	CACNA2D1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36255.rmdup.bam	chr10	69904647	69905867	DEL	MYPN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36260.rmdup.bam	chr6	123824288	123825622	DEL	TRDN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36261.rmdup.bam	chr10	43616818	43618040	DEL	RET	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36262.rmdup.bam	chr1	237532258	237533484	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36263.rmdup.bam	chrX	31341134	31342354	DEL	DMD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36278.rmdup.bam	chr1	116243310	116244623	DEL	CASQ2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36287.rmdup.bam	chr10	43619755	43621005	DEL	RET	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36306.rmdup.bam	chrX	31947137	31948437	DEL	DMD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36307.rmdup.bam	chr10	90706439	90707719	DEL	ACTA2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36308.rmdup.bam	chr5	127611154	127612428	DEL	FBN2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36310.rmdup.bam	chr2	179534369	179535597	DEL	TTN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36311.rmdup.bam	chr10	69406597	69407821	DEL	CTNNA3	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36312.rmdup.bam	chr7	91718123	91719419	DEL	AKAP9	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36313.rmdup.bam	chr14	50665833	50667149	DEL	SOS2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36331.rmdup.bam	chr5	127709745	127711019	DEL	FBN2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36334.rmdup.bam	chrX	32380329	32381651	DEL	DMD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36335.rmdup.bam	chr10	43618543	43619931	DEL	RET	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36336.rmdup.bam	chr12	2756965	2758248	DEL	CACNA1C	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36337.rmdup.bam	chr2	179506388	179507620	DEL	TTN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36338.rmdup.bam	chr7	81599412	81600632	DEL	CACNA2D1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36339.rmdup.bam	chr19	35522855	35524174	DEL	SCN1B	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36340.rmdup.bam	chr8	72122815	72124067	DEL	EYA1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36341.rmdup.bam	chr11	119076477	119077997	DEL	CBL	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36342.rmdup.bam	chr7	91705593	91706897	DEL	AKAP9	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36343.rmdup.bam	chr2	39283267	39284583	DEL	SOS1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36344.rmdup.bam	chr5	37317514	37318762	DEL	NUP155	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36345.rmdup.bam	chr1	21615883	21617560	DEL	ECE1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36354.rmdup.bam	chr16	15916536	15917844	DEL	MYH11	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36355.rmdup.bam	chr7	151291855	151293115	DEL	PRKAG2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36357.rmdup.bam	chr3	57856784	57858004	DEL	SLMAP	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36358.rmdup.bam	chr15	67462307	67463527	DEL	SMAD3	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36359.rmdup.bam	chr10	88444835	88446055	DEL	LDB3	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36371.rmdup.bam	chr10	18826533	18827870	DEL	CACNB2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36372.rmdup.bam	chr17	28534174	28535426	DEL	SLC6A4	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36373.rmdup.bam	chr18	29099190	29100476	DEL	DSG2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36377.rmdup.bam	chr1	112319070	112320472	DEL	KCND3	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36378.rmdup.bam	chr3	38661758	38663038	DEL	SCN5A	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36383.rmdup.bam	chr10	18824454	18825700	DEL	CACNB2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36384.rmdup.bam	chr3	14180104	14181372	DEL	TMEM43	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36385.rmdup.bam	chrX	32365947	32367221	DEL	DMD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36392.rmdup.bam	chr5	127696840	127698116	DEL	FBN2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36393.rmdup.bam	chr12	2162142	2163362	DEL	CACNA1C	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36424.rmdup.bam	chr15	48744183	48745457	DEL	FBN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36426.rmdup.bam	chr12	22011944	22013176	DEL	ABCC9	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36427.rmdup.bam	chr2	39237149	39238419	DEL	SOS1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36428.rmdup.bam	chr12	21981316	21982570	DEL	ABCC9	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36446.rmdup.bam	chr15	73635150	73636725	DEL	HCN4	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36447.rmdup.bam	chr2	179657555	179658843	DEL	TTN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36448.rmdup.bam	chr3	57893035	57894309	DEL	SLMAP	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36450.rmdup.bam	chr14	50604753	50606078	DEL	SOS2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36451.rmdup.bam	chr4	186434847	186436067	DEL	PDLIM3	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36452.rmdup.bam	chr15	48764172	48765448	DEL	FBN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36456.rmdup.bam	chr6	7566034	7567290	DEL	DSP	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36457.rmdup.bam	chr2	47387331	47388551	DEL	CALM2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36489.rmdup.bam	chr15	66782264	66783504	DEL	MAP2K1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36535.rmdup.bam	chr15	48748258	48749534	DEL	FBN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36547.rmdup.bam	chr11	71950189	71951921	DEL	PHOX2A	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36550.rmdup.bam	chr12	25397632	25398868	DEL	KRAS	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36557.rmdup.bam	chr12	112919302	112920584	DEL	PTPN11	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36569.rmdup.bam	chr1	162336164	162337860	DEL	NOS1AP	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36570.rmdup.bam	chr22	40074436	40076550	DEL	CACNA1I	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36572.rmdup.bam	chr15	38590998	38592323	DEL	SPRED1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36573.rmdup.bam	chr19	49704645	49705973	DEL	TRPM4	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36577.rmdup.bam	chr15	67473003	67474367	DEL	SMAD3	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36578.rmdup.bam	chr15	67476489	67477777	DEL	SMAD3	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36580.rmdup.bam	chr1	78400931	78402305	DEL	NEXN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36583.rmdup.bam	chrX	32867269	32868513	DEL	DMD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36595.rmdup.bam	chr12	2690180	2691538	DEL	CACNA1C	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36596.rmdup.bam	chr3	38595193	38596617	DEL	SCN5A	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36597.rmdup.bam	chr17	29686929	29688296	DEL	NF1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36599.rmdup.bam	chr1	162269847	162271071	DEL	NOS1AP	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36602.rmdup.bam	chr5	127854390	127855636	DEL	FBN2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36603.rmdup.bam	chrX	32715411	32716691	DEL	DMD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36604.rmdup.bam	chr3	14182517	14183845	DEL	TMEM43	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36605.rmdup.bam	chr11	119157986	119159232	DEL	CBL	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36606.rmdup.bam	chr4	186455819	186457239	DEL	PDLIM3	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36607.rmdup.bam	chr3	30712554	30714504	DEL	TGFBR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36608.rmdup.bam	chr6	7557772	7559073	DEL	DSP	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36611.rmdup.bam	chrX	31200278	31201597	DEL	DMD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36612.rmdup.bam	chr10	21074125	21075427	DEL	NEBL	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36614.rmdup.bam	chr9	108369524	108370808	DEL	FKTN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36615.rmdup.bam	chr14	50606084	50607352	DEL	SOS2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36707.rmdup.bam	chr10	92676913	92678163	DEL	ANKRD1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36708.rmdup.bam	chr1	21561666	21562996	DEL	ECE1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36709.rmdup.bam	chr17	29661279	29662625	DEL	NF1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36710.rmdup.bam	chr1	237794151	237795417	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36713.rmdup.bam	chr10	21140898	21142154	DEL	NEBL	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36715.rmdup.bam	chr17	39918658	39920150	DEL	JUP	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36717.rmdup.bam	chr22	40014739	40016088	DEL	CACNA1I	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36718.rmdup.bam	chr18	32454627	32455937	DEL	DTNA	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36719.rmdup.bam	chr11	111778936	111780267	DEL	CRYAB	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36720.rmdup.bam	chr1	237941390	237942646	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36721.rmdup.bam	chr10	21158093	21159345	DEL	NEBL	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36722.rmdup.bam	chr3	38769457	38770967	DEL	SCN10A	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36723.rmdup.bam	chr1	237794151	237795417	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36724.rmdup.bam	chr3	57832332	57833552	DEL	SLMAP	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36725.rmdup.bam	chr12	2676159	2677535	DEL	CACNA1C	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36726.rmdup.bam	chr16	15877955	15879175	DEL	MYH11	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36730.rmdup.bam	chr10	18789165	18790453	DEL	CACNB2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36732.rmdup.bam	chr11	118011346	118012626	DEL	SCN4B	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36733.rmdup.bam	chr7	154585138	154586589	DEL	DPP6	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36735.rmdup.bam	chr7	150641851	150643279	DEL	KCNH2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36743.rmdup.bam	chr1	21553075	21554295	DEL	ECE1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36746.rmdup.bam	chr16	15797297	15798555	DEL	MYH11	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36749.rmdup.bam	chr1	237993254	237994506	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36750.rmdup.bam	chr3	189606553	189607849	DEL	TP63	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36751.rmdup.bam	chr3	38661758	38663038	DEL	SCN5A	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36753.rmdup.bam	chr12	111356332	111357572	DEL	MYL2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36754.rmdup.bam	chr10	75853452	75854795	DEL	VCL	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36755.rmdup.bam	chrX	32429293	32430606	DEL	DMD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36760.rmdup.bam	chr1	237944289	237945521	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36767.rmdup.bam	chr15	48807008	48808300	DEL	FBN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36781.rmdup.bam	chr12	32995540	32996822	DEL	PKP2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36782.rmdup.bam	chr15	38613866	38615185	DEL	SPRED1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36792.rmdup.bam	chr1	21581763	21583208	DEL	ECE1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36794.rmdup.bam	chr11	119102581	119103981	DEL	CBL	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36795.rmdup.bam	chr1	78398389	78399741	DEL	NEXN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36796.rmdup.bam	chr17	28524913	28526133	DEL	SLC6A4	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36811.rmdup.bam	chr14	90867027	90868321	DEL	CALM1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36812.rmdup.bam	chr10	21111561	21112805	DEL	NEBL	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36813.rmdup.bam	chr15	48773276	48774552	DEL	FBN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36814.rmdup.bam	chr12	2760130	2761510	DEL	CACNA1C	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36815.rmdup.bam	chr12	33003124	33004482	DEL	PKP2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36816.rmdup.bam	chr6	7570094	7571372	DEL	DSP	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36817.rmdup.bam	chr1	237862952	237864343	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36818.rmdup.bam	chr8	72245756	72246984	DEL	EYA1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36819.rmdup.bam	chr3	57826450	57827674	DEL	SLMAP	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36820.rmdup.bam	chr12	33048766	33050316	DEL	PKP2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36824.rmdup.bam	chr1	147229704	147231896	DEL	GJA5	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36825.rmdup.bam	chr14	50670426	50671702	DEL	SOS2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36826.rmdup.bam	chr11	2608224	2609597	DEL	KCNQ1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36827.rmdup.bam	chr6	133845577	133846968	DEL	EYA4	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36828.rmdup.bam	chr7	154659129	154660379	DEL	DPP6	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36829.rmdup.bam	chr1	21553848	21555110	DEL	ECE1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36834.rmdup.bam	chr16	1247939	1249449	DEL	CACNA1H	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36835.rmdup.bam	chr7	150671121	150672707	DEL	KCNH2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36836.rmdup.bam	chrX	119602285	119603575	DEL	LAMP2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36837.rmdup.bam	chr1	237655678	237656962	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36838.rmdup.bam	chr1	21598613	21600083	DEL	ECE1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36839.rmdup.bam	chr7	91667157	91668662	DEL	AKAP9	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36840.rmdup.bam	chr10	43618543	43619931	DEL	RET	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36841.rmdup.bam	chr15	48779734	48781265	DEL	FBN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36842.rmdup.bam	chr2	179668701	179669921	DEL	TTN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36843.rmdup.bam	chr12	112914879	112916395	DEL	PTPN11	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36844.rmdup.bam	chr15	67473003	67474367	DEL	SMAD3	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36845.rmdup.bam	chr1	237869673	237871145	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36847.rmdup.bam	chrX	119588636	119590000	DEL	LAMP2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36848.rmdup.bam	chr18	28671487	28672839	DEL	DSC2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36849.rmdup.bam	chr12	22004455	22006014	DEL	ABCC9	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36851.rmdup.bam	chr3	189603607	189604915	DEL	TP63	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36852.rmdup.bam	chr10	75833924	75835237	DEL	VCL	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36854.rmdup.bam	chr12	98924882	98926192	DEL	TMPO	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36857.rmdup.bam	chr1	218577934	218579250	DEL	TGFB2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36860.rmdup.bam	chr12	22040184	22041444	DEL	ABCC9	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36861.rmdup.bam	chr5	45266615	45267931	DEL	HCN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36862.rmdup.bam	chr16	15825845	15827141	DEL	MYH11	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36863.rmdup.bam	chr5	127743791	127745067	DEL	FBN2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36867.rmdup.bam	chr1	237537441	237538671	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36868.rmdup.bam	chr2	179602232	179603664	DEL	TTN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36872.rmdup.bam	chr7	91698768	91700096	DEL	AKAP9	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36873.rmdup.bam	chrX	119575009	119576325	DEL	LAMP2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36876.rmdup.bam	chr17	28548057	28549627	DEL	SLC6A4	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36877.rmdup.bam	chr12	2658533	2659775	DEL	CACNA1C	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36880.rmdup.bam	chr1	201335372	201336592	DEL	TNNT2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36881.rmdup.bam	chr19	4100339	4101955	DEL	MAP2K2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36886.rmdup.bam	chr1	236923739	236925049	DEL	ACTN2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36894.rmdup.bam	chr4	114263597	114264873	DEL	ANK2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36895.rmdup.bam	chr17	29675562	29676844	DEL	NF1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36896.rmdup.bam	chr14	76426690	76427994	DEL	TGFB3	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36901.rmdup.bam	chr1	236902026	236903408	DEL	ACTN2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36902.rmdup.bam	chr5	37323518	37324784	DEL	NUP155	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36903.rmdup.bam	chr20	32026071	32027408	DEL	SNTA1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36904.rmdup.bam	chr4	186427100	186428382	DEL	PDLIM3	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36906.rmdup.bam	chr11	2608224	2609597	DEL	KCNQ1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36907.rmdup.bam	chr1	237654530	237655800	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36908.rmdup.bam	chr12	2594694	2596004	DEL	CACNA1C	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36909.rmdup.bam	chr19	16600602	16601957	DEL	CALR3	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36914.rmdup.bam	chrX	32715411	32716691	DEL	DMD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36915.rmdup.bam	chr1	237922500	237923728	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36919.rmdup.bam	chr16	1266355	1267686	DEL	CACNA1H	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36923.rmdup.bam	chr11	118046501	118047721	DEL	SCN2B	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36924.rmdup.bam	chr4	114283918	114285200	DEL	ANK2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36925.rmdup.bam	chr14	23881461	23882681	DEL	MYH7	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36927.rmdup.bam	chr11	19205923	19207167	DEL	CSRP3	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36928.rmdup.bam	chrX	32482127	32483391	DEL	DMD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36929.rmdup.bam	chr18	28659237	28660894	DEL	DSC2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36933.rmdup.bam	chr7	154594998	154596240	DEL	DPP6	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36934.rmdup.bam	chr7	81598621	81599875	DEL	CACNA2D1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36935.rmdup.bam	chr19	607288	608858	DEL	HCN2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36936.rmdup.bam	chr5	127728252	127729637	DEL	FBN2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36937.rmdup.bam	chr11	2798626	2799846	DEL	KCNQ1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36940.rmdup.bam	chr5	253932	255196	DEL	SDHA	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36943.rmdup.bam	chr17	39923055	39924407	DEL	JUP	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36944.rmdup.bam	chr14	50654638	50655994	DEL	SOS2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36945.rmdup.bam	chr17	8191535	8193805	DEL	RANGRF	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36946.rmdup.bam	chr3	38750393	38751681	DEL	SCN10A	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36947.rmdup.bam	chr10	18824454	18825700	DEL	CACNB2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36948.rmdup.bam	chr15	38613866	38615185	DEL	SPRED1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36949.rmdup.bam	chr3	189611418	189612842	DEL	TP63	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36950.rmdup.bam	chr7	81661537	81662793	DEL	CACNA2D1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36951.rmdup.bam	chr5	127611154	127612428	DEL	FBN2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36952.rmdup.bam	chr3	30647725	30649145	DEL	TGFBR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36960.rmdup.bam	chr3	38616212	38617518	DEL	SCN5A	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36962.rmdup.bam	chr9	101909360	101910642	DEL	TGFBR1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36964.rmdup.bam	chr20	42814291	42815895	DEL	JPH2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36965.rmdup.bam	chr1	78398389	78399741	DEL	NEXN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36966.rmdup.bam	chrX	153639529	153641226	DEL	TAZ	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36970.rmdup.bam	chr2	39346801	39348213	DEL	SOS1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36971.rmdup.bam	chr3	38751751	38752971	DEL	SCN10A	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36972.rmdup.bam	chrX	33037676	33038896	DEL	DMD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36973.rmdup.bam	chr15	48817751	48819027	DEL	FBN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36989.rmdup.bam	chr5	37325426	37326646	DEL	NUP155	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36992.rmdup.bam	chr4	41747221	41749017	DEL	PHOX2B	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36993.rmdup.bam	chr12	2621401	2622726	DEL	CACNA1C	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36994.rmdup.bam	chr9	101899564	101900948	DEL	TGFBR1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36997.rmdup.bam	chr10	69907534	69908800	DEL	MYPN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36999.rmdup.bam	chr7	154460494	154461726	DEL	DPP6	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37000.rmdup.bam	chr12	112910172	112911420	DEL	PTPN11	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37001.rmdup.bam	chr1	237527055	237528275	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37002.rmdup.bam	chr2	179630532	179631914	DEL	TTN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37003.rmdup.bam	chr3	38793134	38794578	DEL	SCN10A	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37004.rmdup.bam	chr2	39241330	39242562	DEL	SOS1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37006-147.rmdup.bam	chr3	38764345	38765619	DEL	SCN10A	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37007-147.rmdup.bam	chr7	140480800	140482068	DEL	BRAF	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37254.rmdup.bam	chr15	48733342	48734618	DEL	FBN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37275.rmdup.bam	chr3	38797589	38799225	DEL	SCN10A	1	single
