/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36462.rmdup.bam	chr5	131722135	131723423	DUP	SLC22A5	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37875.rmdup.bam	chr7	94043963	94045155	DUP	COL1A2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38126.rmdup.bam	chr15	66778989	66780205	DUP	MAP2K1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38127.rmdup.bam	chr1	1167125	1169181	DUP	B3GALT6	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38128.rmdup.bam	chr7	30065393	30066657	DUP	FKBP14	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38129.rmdup.bam	chr1	237780053	237781317	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38130.rmdup.bam	chr9	137621545	137622857	DUP	COL5A1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38136.rmdup.bam	chr9	137618533	137619821	DUP	COL5A1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38137.rmdup.bam	chr3	38671216	38672504	DUP	SCN5A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38138.rmdup.bam	chr7	83823214	83824478	DUP	SEMA3A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38140.rmdup.bam	chr6	75800463	75801819	DUP	COL12A1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38141.rmdup.bam	chr6	75804239	75805479	DUP	COL12A1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38143.rmdup.bam	chr5	86665053	86666293	DUP	RASA1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38144.rmdup.bam	chr4	113825075	113826243	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38145.rmdup.bam	chr7	91673792	91675056	DUP	AKAP9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38146.rmdup.bam	chr4	114208177	114209441	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38147.rmdup.bam	chr14	23889591	23890831	DUP	MYH7	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38148.rmdup.bam	chrX	107838164	107839404	DUP	COL4A5	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38149.rmdup.bam	chr3	189583896	189585160	DUP	TP63	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38150.rmdup.bam	chr9	137653189	137654405	DUP	COL5A1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38151.rmdup.bam	chr12	22000499	22001763	DUP	ABCC9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38152.rmdup.bam	chr19	45882870	45884062	DUP	PPP1R13L	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38153.rmdup.bam	chr5	127673107	127674395	DUP	FBN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38154.rmdup.bam	chr6	75874690	75876026	DUP	COL12A1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38155.rmdup.bam	chr12	112883496	112884784	DUP	PTPN11	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38156.rmdup.bam	chrX	31197910	31199174	DUP	DMD	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38157.rmdup.bam	chr9	137702603	137704023	DUP	COL5A1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38158.rmdup.bam	chr18	3115800	3117040	DUP	MYOM1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38162.rmdup.bam	chr15	35086300	35087588	DUP	ACTC1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38163.rmdup.bam	chrX	11315813	11316993	DUP	AMELX-E05	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38168.rmdup.bam	chr4	114244336	114245528	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38170.rmdup.bam	chr10	90697288	90698528	DUP	ACTA2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38171.rmdup.bam	chr19	35522894	35524134	DUP	SCN1B	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38497.rmdup.bam	chr1	156099061	156100277	DUP	LMNA	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38558.rmdup.bam	chrX	32661719	32662959	DUP	DMD	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38561.rmdup.bam	chr1	236923737	236925049	DUP	ACTN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38562.rmdup.bam	chr12	22058484	22059796	DUP	ABCC9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38563.rmdup.bam	chr10	53667806	53669181	DUP	chr10:53668523-53668641,PRKG1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38566.rmdup.bam	chr3	192444391	192445559	DUP	FGF12	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38567.rmdup.bam	chr3	141278154	141279418	DUP	RASA2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38570.rmdup.bam	chr18	3071251	3072467	DUP	MYOM1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38571.rmdup.bam	chr3	123336907	123338195	DUP	MYLK	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38574.rmdup.bam	chr1	92192633	92193945	DUP	TGFBR3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38575.rmdup.bam	chr18	25727060	25728324	DUP	CDH2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38576.rmdup.bam	chr16	15857068	15858332	DUP	MYH11	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38577.rmdup.bam	chr6	133851771	133852939	DUP	EYA4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38578.rmdup.bam	chr7	140453401	140454617	DUP	BRAF	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38579.rmdup.bam	chr1	16047245	16048461	DUP	PLEKHM2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38580.rmdup.bam	chr18	28666001	28667241	DUP	DSC2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38589.rmdup.bam	chr3	123427011	123428275	DUP	MYLK	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38592.rmdup.bam	chr3	38754865	38756153	DUP	SCN10A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38595.rmdup.bam	chr19	4096700	4097916	DUP	MAP2K2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38596.rmdup.bam	chr15	52476166	52477454	DUP	GNB5	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38614.rmdup.bam	chr1	236911849	236913137	DUP	ACTN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38616.rmdup.bam	chr5	131722135	131723423	DUP	SLC22A5	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38617.rmdup.bam	chr7	91641217	91642481	DUP	AKAP9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38620.rmdup.bam	chr1	237776808	237778672	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38621.rmdup.bam	chr18	3071251	3072467	DUP	MYOM1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38623.rmdup.bam	chr1	237881183	237882399	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38630.rmdup.bam	chr18	3115800	3117040	DUP	MYOM1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38632.rmdup.bam	chr3	57893027	57894315	DUP	SLMAP	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38633.rmdup.bam	chr18	45377063	45378279	DUP	SMAD2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38634.rmdup.bam	chr20	30410700	30411964	DUP	MYLK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38635.rmdup.bam	chr18	29100190	29101789	DUP	DSG2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38636.rmdup.bam	chr10	75833924	75835236	DUP	VCL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38637.rmdup.bam	chr7	150674343	150675583	DUP	KCNH2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38638.rmdup.bam	chr2	47398979	47400171	DUP	CALM2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38639.rmdup.bam	chr3	38796743	38797983	DUP	SCN10A	3	single
