/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB16246.rmdup.bam	chr16	30907366	30908586	DUP	CTF1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB34669.rmdup.bam	chr4	114250826	114252202	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35019.rmdup.bam	chr10	75842548	75843846	DUP	VCL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35445.rmdup.bam	chr10	112539983	112542217	DUP	RBM20	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35459.rmdup.bam	chr7	140486756	140487976	DUP	BRAF	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35460.rmdup.bam	chr18	28650116	28651392	DUP	DSC2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35887.rmdup.bam	chr4	114263597	114264873	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35925.rmdup.bam	chrX	31196210	31197498	DUP	DMD	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35975.rmdup.bam	chr16	1249578	1251483	DUP	CACNA1H	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35976.rmdup.bam	chr11	71950189	71951921	DUP	PHOX2A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35977.rmdup.bam	chr4	114223347	114224571	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35978.rmdup.bam	chr11	111781671	111782999	DUP	CRYAB	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35979.rmdup.bam	chr12	2613432	2614787	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35983.rmdup.bam	chr3	38621846	38623438	DUP	SCN5A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35984.rmdup.bam	chr18	32443354	32444602	DUP	DTNA	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35985.rmdup.bam	chr18	32385607	32386843	DUP	DTNA	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36018.rmdup.bam	chr7	154428947	154430167	DUP	DPP6	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36019.rmdup.bam	chr1	237894770	237896024	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36020.rmdup.bam	chr12	22028012	22029236	DUP	ABCC9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36021.rmdup.bam	chr17	48679604	48681237	DUP	CACNA1G	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36085.rmdup.bam	chr6	123957287	123958507	DUP	TRDN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36086.rmdup.bam	chr12	25377972	25379282	DUP	KRAS	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36119.rmdup.bam	chr1	21547664	21548910	DUP	ECE1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36120.rmdup.bam	chr14	90867027	90868321	DUP	CALM1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36121.rmdup.bam	chr17	29545447	29546711	DUP	NF1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36124.rmdup.bam	chr7	81643141	81644371	DUP	CACNA2D1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36125B.rmdup.bam	chr6	133789128	133790444	DUP	EYA4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36142.rmdup.bam	chr16	1263103	1264608	DUP	CACNA1H	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36143.rmdup.bam	chr3	189348738	189349958	DUP	TP63	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36146.rmdup.bam	chr6	7562309	7563589	DUP	DSP	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36147.rmdup.bam	chr1	237756199	237757512	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36149.rmdup.bam	chr20	42787577	42789677	DUP	JPH2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36150.rmdup.bam	chr19	4096699	4097919	DUP	MAP2K2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36151.rmdup.bam	chr17	48686659	48687879	DUP	CACNA1G	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36152.rmdup.bam	chr5	127692392	127693662	DUP	FBN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36153.rmdup.bam	chr12	22065230	22066576	DUP	ABCC9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36154.rmdup.bam	chr12	25379591	25380922	DUP	KRAS	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36155.rmdup.bam	chr1	237532258	237533484	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36156.rmdup.bam	chr3	38750393	38751681	DUP	SCN10A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36157.rmdup.bam	chr14	23875655	23876983	DUP	MYH6	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36158.rmdup.bam	chr3	38738289	38740629	DUP	SCN10A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36169.rmdup.bam	chr15	66735042	66736270	DUP	MAP2K1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36171.rmdup.bam	chr17	48654873	48656501	DUP	CACNA1G	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36172.rmdup.bam	chr10	90707983	90709237	DUP	ACTA2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36173.rmdup.bam	chr7	140507184	140508438	DUP	BRAF	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36177.rmdup.bam	chr5	37357607	37358829	DUP	NUP155	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36178.rmdup.bam	chr7	140486756	140487976	DUP	BRAF	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36184.rmdup.bam	chr1	236902026	236903408	DUP	ACTN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36186.rmdup.bam	chr3	38673949	38675349	DUP	SCN5A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36187.rmdup.bam	chr2	39261777	39263217	DUP	SOS1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36188.rmdup.bam	chr12	22004455	22006014	DUP	ABCC9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36190.rmdup.bam	chr9	139439527	139440899	DUP	NOTCH1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36191.rmdup.bam	chr5	37293855	37295143	DUP	NUP155	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36192.rmdup.bam	chr1	237663435	237664778	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36193.rmdup.bam	chr12	2777523	2778777	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36195.rmdup.bam	chr1	237971625	237972911	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36225.rmdup.bam	chr6	123599604	123600824	DUP	TRDN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36227.rmdup.bam	chr17	29549886	29551160	DUP	NF1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36228.rmdup.bam	chr3	38620249	38621562	DUP	SCN5A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36229.rmdup.bam	chrX	31151643	31152887	DUP	DMD	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36230.rmdup.bam	chr14	50611312	50612889	DUP	SOS2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36231.rmdup.bam	chr1	201341751	201342971	DUP	TNNT2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36232.rmdup.bam	chrX	31366097	31367327	DUP	DMD	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36237.rmdup.bam	chr10	21116883	21118139	DUP	NEBL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36238.rmdup.bam	chr12	2719131	2720441	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36241.rmdup.bam	chr5	127711848	127713122	DUP	FBN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36242.rmdup.bam	chr6	123869023	123870333	DUP	TRDN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36243.rmdup.bam	chr7	154666989	154668437	DUP	DPP6	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36244.rmdup.bam	chr7	154460494	154461726	DUP	DPP6	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36245.rmdup.bam	chr1	237806051	237807323	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36246.rmdup.bam	chr1	237754463	237755729	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36247.rmdup.bam	chr3	14170336	14171636	DUP	TMEM43	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36248.rmdup.bam	chr15	67456557	67458400	DUP	SMAD3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36254.rmdup.bam	chr4	114266480	114267754	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36255.rmdup.bam	chr1	21598613	21600083	DUP	ECE1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36260.rmdup.bam	chr1	236917743	236919074	DUP	ACTN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36261.rmdup.bam	chr1	237604043	237605359	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36262.rmdup.bam	chr18	29115589	29116968	DUP	DSG2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36263.rmdup.bam	chr7	151328579	151329799	DUP	PRKAG2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36278.rmdup.bam	chr15	67458541	67459767	DUP	SMAD3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36287.rmdup.bam	chr3	12652873	12654137	DUP	RAF1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36306.rmdup.bam	chr1	237619324	237620610	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36307.rmdup.bam	chr16	15846675	15847941	DUP	MYH11	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36308.rmdup.bam	chr12	2756965	2758248	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36310.rmdup.bam	chr17	48677511	48679211	DUP	CACNA1G	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36311.rmdup.bam	chr6	112455093	112456387	DUP	LAMA4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36312.rmdup.bam	chr4	120071450	120072772	DUP	MYOZ2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36313.rmdup.bam	chr1	237840769	237841989	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36331.rmdup.bam	chr10	69934504	69935794	DUP	MYPN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36334.rmdup.bam	chr15	73635150	73636725	DUP	HCN4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36335.rmdup.bam	chr3	38804420	38805662	DUP	SCN10A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36336.rmdup.bam	chr10	112542544	112543764	DUP	RBM20	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36337.rmdup.bam	chr8	72156262	72157502	DUP	EYA1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36338.rmdup.bam	chr12	33048766	33050316	DUP	PKP2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36339.rmdup.bam	chr18	28665962	28667281	DUP	DSC2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36340.rmdup.bam	chr10	69920887	69922107	DUP	MYPN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36341.rmdup.bam	chr9	108365920	108367348	DUP	FKTN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36342.rmdup.bam	chr2	105989440	105990765	DUP	FHL2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36343.rmdup.bam	chr2	179562994	179564216	DUP	TTN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36344.rmdup.bam	chr5	45261470	45263490	DUP	HCN1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36345.rmdup.bam	chr1	237896420	237897640	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36354.rmdup.bam	chr7	81623608	81624830	DUP	CACNA2D1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36355.rmdup.bam	chr12	2690180	2691538	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36357.rmdup.bam	chrX	31892729	31894066	DUP	DMD	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36358.rmdup.bam	chr19	4100339	4101955	DUP	MAP2K2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36359.rmdup.bam	chr10	21098159	21099403	DUP	NEBL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36371.rmdup.bam	chr12	2613432	2614787	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36372.rmdup.bam	chr11	532643	534972	DUP	HRAS	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36373.rmdup.bam	chr6	133826668	133827908	DUP	EYA4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36377.rmdup.bam	chr8	72127046	72128539	DUP	EYA1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36378.rmdup.bam	chr6	133785341	133786571	DUP	EYA4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36383.rmdup.bam	chr14	50616149	50617525	DUP	SOS2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36384.rmdup.bam	chr2	105983450	105984772	DUP	FHL2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36385.rmdup.bam	chr1	237816998	237818290	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36392.rmdup.bam	chr12	2566157	2567447	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36393.rmdup.bam	chr15	38641047	38642299	DUP	SPRED1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36424.rmdup.bam	chr6	123576419	123577639	DUP	TRDN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36426.rmdup.bam	chr5	127611154	127612428	DUP	FBN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36427.rmdup.bam	chr3	57742827	57744152	DUP	SLMAP	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36428.rmdup.bam	chr2	189875778	189877050	DUP	COL3A1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36446.rmdup.bam	chr3	8786535	8788105	DUP	CAV3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36447.rmdup.bam	chr6	133768672	133769892	DUP	EYA4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36448.rmdup.bam	chr4	114094996	114096248	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36450.rmdup.bam	chr2	179630532	179631914	DUP	TTN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36451.rmdup.bam	chr6	123599604	123600824	DUP	TRDN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36452.rmdup.bam	chr3	38620249	38621562	DUP	SCN5A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36456.rmdup.bam	chr6	133845577	133846968	DUP	EYA4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36457.rmdup.bam	chr4	111538730	111540419	DUP	PITX2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36489.rmdup.bam	chr3	14166043	14167380	DUP	TMEM43	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36535.rmdup.bam	chr3	14180104	14181372	DUP	TMEM43	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36547.rmdup.bam	chrX	32480980	32482286	DUP	DMD	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36550.rmdup.bam	chr6	123867891	123869111	DUP	TRDN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36557.rmdup.bam	chr10	18690277	18691547	DUP	CACNB2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36569.rmdup.bam	chr12	2704464	2705744	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36570.rmdup.bam	chr4	120071450	120072772	DUP	MYOZ2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36572.rmdup.bam	chr2	179656223	179657499	DUP	TTN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36573.rmdup.bam	chr9	108336763	108337993	DUP	FKTN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36577.rmdup.bam	chr11	119168492	119169826	DUP	CBL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36578.rmdup.bam	chr3	38742753	38744177	DUP	SCN10A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36580.rmdup.bam	chr15	67357842	67359370	DUP	SMAD3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36583.rmdup.bam	chr9	108358298	108359518	DUP	FKTN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36595.rmdup.bam	chr10	112763788	112765128	DUP	SHOC2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36596.rmdup.bam	chr5	37325426	37326646	DUP	NUP155	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36597.rmdup.bam	chr5	127638089	127639357	DUP	FBN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36599.rmdup.bam	chr7	81613375	81614603	DUP	CACNA2D1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36602.rmdup.bam	chr6	123658179	123659399	DUP	TRDN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36603.rmdup.bam	chr1	11905471	11906691	DUP	NPPA	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36604.rmdup.bam	chr19	47108508	47109790	DUP	CALM3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36605.rmdup.bam	chr12	2594694	2596004	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36606.rmdup.bam	chr4	114273603	114281053	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36607.rmdup.bam	chr15	48825701	48826977	DUP	FBN1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36608.rmdup.bam	chr22	40029994	40031304	DUP	CACNA1I	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36611.rmdup.bam	chr4	114290093	114291537	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36612.rmdup.bam	chr12	2613432	2614787	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36614.rmdup.bam	chr1	92148744	92150090	DUP	TGFBR3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36615.rmdup.bam	chr15	67458541	67459767	DUP	SMAD3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36707.rmdup.bam	chr18	32437673	32438937	DUP	DTNA	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36708.rmdup.bam	chr22	40063721	40064961	DUP	CACNA1I	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36709.rmdup.bam	chr1	92148744	92150090	DUP	TGFBR3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36710.rmdup.bam	chr7	153584184	153585404	DUP	DPP6	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36713.rmdup.bam	chr2	39221688	39223104	DUP	SOS1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36715.rmdup.bam	chr17	29686929	29688296	DUP	NF1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36717.rmdup.bam	chr4	41747221	41749017	DUP	PHOX2B	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36718.rmdup.bam	chr1	237617115	237618449	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36719.rmdup.bam	chr2	179589519	179591350	DUP	TTN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36720.rmdup.bam	chr4	114290093	114291537	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36721.rmdup.bam	chr16	30910160	30911430	DUP	CTF1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36722.rmdup.bam	chr1	112319070	112320472	DUP	KCND3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36723.rmdup.bam	chr14	50619212	50620466	DUP	SOS2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36724.rmdup.bam	chr4	114176315	114177664	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36725.rmdup.bam	chr3	38750393	38751681	DUP	SCN10A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36726.rmdup.bam	chr17	39923055	39924407	DUP	JUP	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36730.rmdup.bam	chr1	237631816	237633062	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36732.rmdup.bam	chr10	21074125	21075427	DUP	NEBL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36733.rmdup.bam	chr1	237874469	237875713	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36735.rmdup.bam	chr7	140448511	140449793	DUP	BRAF	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36743.rmdup.bam	chr20	32004949	32006304	DUP	SNTA1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36746.rmdup.bam	chr14	50646714	50647976	DUP	SOS2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36749.rmdup.bam	chr1	237814135	237815377	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36750.rmdup.bam	chr19	49668647	49670140	DUP	TRPM4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36751.rmdup.bam	chr3	189581445	189582782	DUP	TP63	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36753.rmdup.bam	chr4	186425053	186426315	DUP	PDLIM3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36754.rmdup.bam	chr10	43572055	43573455	DUP	RET	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36755.rmdup.bam	chr9	108396756	108398096	DUP	FKTN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36760.rmdup.bam	chrX	32380329	32381651	DUP	DMD	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36767.rmdup.bam	chr1	236916671	236917957	DUP	ACTN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36781.rmdup.bam	chr1	237888980	237890200	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36782.rmdup.bam	chr14	90867027	90868321	DUP	CALM1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36792.rmdup.bam	chr1	21586187	21587561	DUP	ECE1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36794.rmdup.bam	chr5	37370347	37371629	DUP	NUP155	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36795.rmdup.bam	chr17	29489627	29490970	DUP	NF1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36796.rmdup.bam	chr19	35522855	35524174	DUP	SCN1B	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36811.rmdup.bam	chr9	108396756	108398096	DUP	FKTN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36812.rmdup.bam	chr11	118011346	118012626	DUP	SCN4B	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36813.rmdup.bam	chr12	2613432	2614787	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36814.rmdup.bam	chr4	114288146	114289582	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36815.rmdup.bam	chr1	78400931	78402305	DUP	NEXN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36816.rmdup.bam	chr1	92160653	92161912	DUP	TGFBR3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36817.rmdup.bam	chr14	50624707	50625939	DUP	SOS2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36818.rmdup.bam	chr4	114208185	114209435	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36819.rmdup.bam	chr15	67456557	67458400	DUP	SMAD3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36820.rmdup.bam	chr2	105979166	105980503	DUP	FHL2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36824.rmdup.bam	chr2	179668701	179669921	DUP	TTN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36825.rmdup.bam	chr9	108358298	108359518	DUP	FKTN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36826.rmdup.bam	chr12	98926024	98928672	DUP	TMPO	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36827.rmdup.bam	chrX	32398051	32399373	DUP	DMD	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36828.rmdup.bam	chr14	50619212	50620466	DUP	SOS2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36829.rmdup.bam	chr7	81603195	81604443	DUP	CACNA2D1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36834.rmdup.bam	chr6	7563384	7564604	DUP	DSP	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36835.rmdup.bam	chr16	15810420	15811781	DUP	MYH11	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36836.rmdup.bam	chr6	133782897	133784477	DUP	EYA4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36837.rmdup.bam	chr7	150641851	150643279	DUP	KCNH2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36838.rmdup.bam	chr12	2710344	2711702	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36839.rmdup.bam	chrX	31221502	31222810	DUP	DMD	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36840.rmdup.bam	chr6	133782897	133784477	DUP	EYA4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36841.rmdup.bam	chrX	32429293	32430606	DUP	DMD	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36842.rmdup.bam	chr15	48784082	48785358	DUP	FBN1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36843.rmdup.bam	chr20	42787577	42789677	DUP	JPH2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36844.rmdup.bam	chr12	112891792	112893060	DUP	PTPN11	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36845.rmdup.bam	chr10	21129092	21130354	DUP	NEBL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36847.rmdup.bam	chr10	75871091	75872446	DUP	VCL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36848.rmdup.bam	chr2	179534369	179535597	DUP	TTN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36849.rmdup.bam	chr5	45695094	45696846	DUP	HCN1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36851.rmdup.bam	chr16	15797297	15798555	DUP	MYH11	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36852.rmdup.bam	chr7	91721835	91723205	DUP	AKAP9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36854.rmdup.bam	chr19	4094710	4096122	DUP	MAP2K2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36857.rmdup.bam	chr8	72156262	72157502	DUP	EYA1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36860.rmdup.bam	chr17	48671777	48672997	DUP	CACNA1G	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36861.rmdup.bam	chr17	29700455	29701723	DUP	NF1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36862.rmdup.bam	chr18	32335376	32336596	DUP	DTNA	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36863.rmdup.bam	chr7	151257034	151258278	DUP	PRKAG2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36867.rmdup.bam	chr1	236922446	236923666	DUP	ACTN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36868.rmdup.bam	chr18	29110374	29111790	DUP	DSG2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36872.rmdup.bam	chr10	75849204	75850532	DUP	VCL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36873.rmdup.bam	chr4	114116948	114118198	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36876.rmdup.bam	chrX	31227039	31228391	DUP	DMD	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36877.rmdup.bam	chr5	45695094	45696846	DUP	HCN1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36880.rmdup.bam	chr1	237693151	237694385	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36881.rmdup.bam	chr16	15872058	15873278	DUP	MYH11	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36886.rmdup.bam	chr12	112923703	112925009	DUP	PTPN11	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36894.rmdup.bam	chr11	119155102	119156853	DUP	CBL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36895.rmdup.bam	chr10	43603902	43605254	DUP	RET	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36896.rmdup.bam	chr6	123696153	123697373	DUP	TRDN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36901.rmdup.bam	chr1	92192639	92193939	DUP	TGFBR3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36902.rmdup.bam	chr2	179527117	179528357	DUP	TTN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36903.rmdup.bam	chr7	91644867	91646157	DUP	AKAP9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36904.rmdup.bam	chr3	32187538	32188802	DUP	GPD1L	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36906.rmdup.bam	chr10	75831912	75833186	DUP	VCL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36907.rmdup.bam	chr5	45396018	45397388	DUP	HCN1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36908.rmdup.bam	chr1	21553075	21554295	DUP	ECE1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36909.rmdup.bam	chr5	127862989	127864235	DUP	FBN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36914.rmdup.bam	chr2	189838657	189839877	DUP	COL3A1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36915.rmdup.bam	chr7	81603195	81604443	DUP	CACNA2D1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36919.rmdup.bam	chr6	123696153	123697373	DUP	TRDN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36923.rmdup.bam	chr11	2797628	2798848	DUP	KCNQ1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36924.rmdup.bam	chr15	35086255	35087610	DUP	ACTC1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36925.rmdup.bam	chr17	68170610	68173018	DUP	KCNJ2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36927.rmdup.bam	chr10	21169147	21170409	DUP	NEBL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36928.rmdup.bam	chr7	151265226	151266504	DUP	PRKAG2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36929.rmdup.bam	chr12	22047618	22048838	DUP	ABCC9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36933.rmdup.bam	chr5	127615308	127616584	DUP	FBN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36934.rmdup.bam	chr22	40077925	40079241	DUP	CACNA1I	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36935.rmdup.bam	chr17	28548057	28549627	DUP	SLC6A4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36936.rmdup.bam	chrX	31341134	31342354	DUP	DMD	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36937.rmdup.bam	chr3	46904176	46905430	DUP	MYL3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36940.rmdup.bam	chr12	111348230	111349555	DUP	MYL2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36943.rmdup.bam	chr15	35083715	35085346	DUP	ACTC1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36944.rmdup.bam	chr10	112556690	112557982	DUP	RBM20	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36945.rmdup.bam	chr1	236882829	236884067	DUP	ACTN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36946.rmdup.bam	chr5	37349686	37350942	DUP	NUP155	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36947.rmdup.bam	chr5	37293855	37295143	DUP	NUP155	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36948.rmdup.bam	chr7	81597627	81598865	DUP	CACNA2D1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36949.rmdup.bam	chr10	18629270	18630490	DUP	CACNB2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36950.rmdup.bam	chr9	101906438	101907745	DUP	TGFBR1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36951.rmdup.bam	chrX	32480980	32482286	DUP	DMD	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36952.rmdup.bam	chr1	21570804	21572174	DUP	ECE1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36960.rmdup.bam	chr5	37350715	37352034	DUP	NUP155	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36962.rmdup.bam	chr6	112436490	112437772	DUP	LAMA4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36964.rmdup.bam	chr12	2775276	2776524	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36965.rmdup.bam	chr22	40036295	40037763	DUP	CACNA1I	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36966.rmdup.bam	chr1	237788385	237789679	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36970.rmdup.bam	chr10	18824454	18825700	DUP	CACNB2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36971.rmdup.bam	chrX	119602285	119603575	DUP	LAMP2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36972.rmdup.bam	chr10	21146593	21147849	DUP	NEBL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36973.rmdup.bam	chr2	40404951	40406209	DUP	SLC8A1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36989.rmdup.bam	chr1	26392182	26393507	DUP	TRIM63	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36992.rmdup.bam	chr3	38790988	38792250	DUP	SCN10A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36993.rmdup.bam	chr15	48736162	48737432	DUP	FBN1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36994.rmdup.bam	chr6	123759508	123760728	DUP	TRDN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36997.rmdup.bam	chr2	179602232	179603664	DUP	TTN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36999.rmdup.bam	chr2	39346801	39348213	DUP	SOS1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37000.rmdup.bam	chr15	48733342	48734618	DUP	FBN1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37001.rmdup.bam	chr1	237830607	237831833	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37002.rmdup.bam	chr17	48693060	48694421	DUP	CACNA1G	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37003.rmdup.bam	chrX	119589930	119591200	DUP	LAMP2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37004.rmdup.bam	chr4	114253634	114254940	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37006-147.rmdup.bam	chr7	140500635	140501936	DUP	BRAF	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37007-147.rmdup.bam	chr7	140623689	140625154	DUP	BRAF	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37254.rmdup.bam	chr16	15872058	15873278	DUP	MYH11	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37275.rmdup.bam	chr1	237518665	237519885	DUP	RYR2	3	single
