/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB16246.rmdup.bam	chr9	139389863	139392645	DUP	NOTCH1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB34669.rmdup.bam	chr22	40063721	40064961	DUP	CACNA1I	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35019.rmdup.bam	chr1	236905620	236906918	DUP	ACTN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35445.rmdup.bam	chr14	50627624	50628902	DUP	SOS2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35459.rmdup.bam	chr17	48693060	48694421	DUP	CACNA1G	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35460.rmdup.bam	chr1	21570804	21572174	DUP	ECE1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35887.rmdup.bam	chr2	220287910	220289130	DUP	DES	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35975.rmdup.bam	chr1	218608736	218610064	DUP	TGFB2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35976.rmdup.bam	chr18	32404625	32405845	DUP	DTNA	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35977.rmdup.bam	chr19	16595398	16596644	DUP	CALR3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35978.rmdup.bam	chr7	81666817	81668127	DUP	CACNA2D1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35979.rmdup.bam	chr9	139439527	139440899	DUP	NOTCH1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35983.rmdup.bam	chr5	131705011	131706735	DUP	SLC22A5	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35984.rmdup.bam	chr4	114288146	114289582	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB35985.rmdup.bam	chr3	46900389	46901714	DUP	MYL3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36018.rmdup.bam	chr7	151371830	151373298	DUP	PRKAG2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36019.rmdup.bam	chr3	38595193	38596617	DUP	SCN5A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36020.rmdup.bam	chr4	114266480	114267754	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36021.rmdup.bam	chr7	154676692	154678132	DUP	DPP6	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36085.rmdup.bam	chr12	112919302	112920584	DUP	PTPN11	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36086.rmdup.bam	chr3	38639733	38641117	DUP	SCN5A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36119.rmdup.bam	chrX	31197911	31199173	DUP	DMD	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36120.rmdup.bam	chr1	237850169	237851389	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36121.rmdup.bam	chr18	29118138	29119517	DUP	DSG2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36124.rmdup.bam	chr17	48638169	48639739	DUP	CACNA1G	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36125B.rmdup.bam	chr6	7558883	7560208	DUP	DSP	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36142.rmdup.bam	chr1	237797613	237798867	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36143.rmdup.bam	chr7	91642987	91644217	DUP	AKAP9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36146.rmdup.bam	chr3	32206730	32207952	DUP	GPD1L	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36147.rmdup.bam	chr11	19205923	19207167	DUP	CSRP3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36149.rmdup.bam	chr6	123698264	123699637	DUP	TRDN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36150.rmdup.bam	chr7	150641851	150643279	DUP	KCNH2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36151.rmdup.bam	chr16	15864850	15866144	DUP	MYH11	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36152.rmdup.bam	chr2	179573716	179575160	DUP	TTN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36153.rmdup.bam	chr10	69917667	69918959	DUP	MYPN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36154.rmdup.bam	chr4	114212996	114214246	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36155.rmdup.bam	chr1	236898359	236899595	DUP	ACTN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36156.rmdup.bam	chr3	32147616	32148836	DUP	GPD1L	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36157.rmdup.bam	chr2	47402958	47404178	DUP	CALM2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36158.rmdup.bam	chr12	2791140	2792420	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36169.rmdup.bam	chr9	101908191	101909467	DUP	TGFBR1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36171.rmdup.bam	chr10	18802589	18803873	DUP	CACNB2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36172.rmdup.bam	chr6	112493236	112494582	DUP	LAMA4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36173.rmdup.bam	chr3	38595193	38596617	DUP	SCN5A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36177.rmdup.bam	chr7	91569827	91571047	DUP	AKAP9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36178.rmdup.bam	chr5	45261470	45263490	DUP	HCN1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36184.rmdup.bam	chr5	37337344	37338596	DUP	NUP155	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36186.rmdup.bam	chr7	154663758	154664978	DUP	DPP6	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36187.rmdup.bam	chr10	69907534	69908800	DUP	MYPN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36188.rmdup.bam	chr7	151272881	151274113	DUP	PRKAG2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36190.rmdup.bam	chr15	48736997	48738277	DUP	FBN1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36191.rmdup.bam	chr3	46901590	46903073	DUP	MYL3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36192.rmdup.bam	chr12	112893178	112894442	DUP	PTPN11	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36193.rmdup.bam	chr1	237950712	237952010	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36195.rmdup.bam	chr6	112485786	112487054	DUP	LAMA4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36225.rmdup.bam	chr7	140499586	140500856	DUP	BRAF	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36227.rmdup.bam	chr6	123759508	123760728	DUP	TRDN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36228.rmdup.bam	chr6	123576419	123577639	DUP	TRDN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36229.rmdup.bam	chr5	234683	236029	DUP	SDHA	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36230.rmdup.bam	chr4	186455819	186457239	DUP	PDLIM3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36231.rmdup.bam	chr6	123539195	123540461	DUP	TRDN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36232.rmdup.bam	chr1	237654530	237655800	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36237.rmdup.bam	chr10	18822429	18823731	DUP	CACNB2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36238.rmdup.bam	chr1	21545896	21547300	DUP	ECE1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36241.rmdup.bam	chr6	7578927	7582383	DUP	DSP	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36242.rmdup.bam	chr7	81579157	81580399	DUP	CACNA2D1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36243.rmdup.bam	chr15	35086255	35087610	DUP	ACTC1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36244.rmdup.bam	chr17	29549886	29551160	DUP	NF1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36245.rmdup.bam	chr15	73621337	73622809	DUP	HCN4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36246.rmdup.bam	chr6	123658179	123659399	DUP	TRDN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36247.rmdup.bam	chr19	16594165	16595502	DUP	CALR3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36248.rmdup.bam	chr4	186443940	186445176	DUP	PDLIM3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36254.rmdup.bam	chr17	29421677	29423062	DUP	NF1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36255.rmdup.bam	chr7	154683468	154684740	DUP	DPP6	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36260.rmdup.bam	chr3	189611418	189612842	DUP	TP63	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36261.rmdup.bam	chr3	189581445	189582782	DUP	TP63	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36262.rmdup.bam	chr3	38829871	38831103	DUP	SCN10A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36263.rmdup.bam	chr12	2676159	2677535	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36278.rmdup.bam	chr16	15833332	15834620	DUP	MYH11	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36287.rmdup.bam	chr3	38650548	38652032	DUP	SCN5A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36306.rmdup.bam	chr12	2704464	2705744	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36307.rmdup.bam	chr12	2228915	2230171	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36308.rmdup.bam	chr10	21146593	21147849	DUP	NEBL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36310.rmdup.bam	chr12	98921088	98922366	DUP	TMPO	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36311.rmdup.bam	chr11	119146131	119147419	DUP	CBL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36312.rmdup.bam	chr1	237905012	237906232	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36313.rmdup.bam	chr15	48757188	48758632	DUP	FBN1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36331.rmdup.bam	chr2	179656223	179657499	DUP	TTN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36334.rmdup.bam	chr1	237674412	237675666	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36335.rmdup.bam	chrX	119564627	119565893	DUP	LAMP2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36336.rmdup.bam	chr15	48736162	48737432	DUP	FBN1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36337.rmdup.bam	chr5	37292405	37293663	DUP	NUP155	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36338.rmdup.bam	chr1	237885852	237887138	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36339.rmdup.bam	chr14	23889591	23890833	DUP	MYH7	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36340.rmdup.bam	chr2	105983450	105984772	DUP	FHL2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36341.rmdup.bam	chr7	81613375	81614603	DUP	CACNA2D1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36342.rmdup.bam	chr17	39923055	39924407	DUP	JUP	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36343.rmdup.bam	chr1	218610109	218611413	DUP	TGFB2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36344.rmdup.bam	chr7	91693968	91695353	DUP	AKAP9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36345.rmdup.bam	chr16	15843419	15844863	DUP	MYH11	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36354.rmdup.bam	chr2	105983450	105984772	DUP	FHL2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36355.rmdup.bam	chr3	12659437	12660771	DUP	RAF1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36357.rmdup.bam	chr16	1247939	1249449	DUP	CACNA1H	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36358.rmdup.bam	chr15	48776995	48778269	DUP	FBN1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36359.rmdup.bam	chr5	37323518	37324784	DUP	NUP155	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36371.rmdup.bam	chr1	237957999	237959219	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36372.rmdup.bam	chr1	21605007	21606502	DUP	ECE1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36373.rmdup.bam	chr10	21107777	21109021	DUP	NEBL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36377.rmdup.bam	chr11	71950189	71951921	DUP	PHOX2A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36378.rmdup.bam	chr6	123686693	123687913	DUP	TRDN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36383.rmdup.bam	chr12	2762423	2763643	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36384.rmdup.bam	chr4	114094996	114096248	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36385.rmdup.bam	chr16	1266355	1267686	DUP	CACNA1H	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36392.rmdup.bam	chr4	114170344	114171594	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36393.rmdup.bam	chrX	31186984	31188294	DUP	DMD	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36424.rmdup.bam	chr4	114208968	114210218	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36426.rmdup.bam	chr11	118022747	118023967	DUP	SCN4B	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36427.rmdup.bam	chr7	154676692	154678132	DUP	DPP6	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36428.rmdup.bam	chr11	2796514	2797860	DUP	KCNQ1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36446.rmdup.bam	chr1	156099832	156101140	DUP	LMNA	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36447.rmdup.bam	chr9	101890561	101891957	DUP	TGFBR1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36448.rmdup.bam	chr15	48751867	48753089	DUP	FBN1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36450.rmdup.bam	chr6	133785341	133786571	DUP	EYA4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36451.rmdup.bam	chr17	29545447	29546711	DUP	NF1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36452.rmdup.bam	chr17	29591671	29592933	DUP	NF1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36456.rmdup.bam	chr18	29171290	29172510	DUP	TTR	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36457.rmdup.bam	chr7	140453400	140454620	DUP	BRAF	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36489.rmdup.bam	chr5	127642251	127643471	DUP	FBN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36535.rmdup.bam	chr12	22046390	22047684	DUP	ABCC9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36547.rmdup.bam	chr14	50627624	50628902	DUP	SOS2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36550.rmdup.bam	chr10	67679536	67680952	DUP	CTNNA3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36557.rmdup.bam	chr10	18815941	18817201	DUP	CACNB2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36569.rmdup.bam	chr16	1263103	1264608	DUP	CACNA1H	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36570.rmdup.bam	chr15	48751867	48753089	DUP	FBN1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36572.rmdup.bam	chr5	127865712	127866962	DUP	FBN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36573.rmdup.bam	chr1	237617115	237618449	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36578.rmdup.bam	chr5	37293855	37295143	DUP	NUP155	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36580.rmdup.bam	chr2	105977189	105978467	DUP	FHL2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36583.rmdup.bam	chr12	32973714	32975039	DUP	PKP2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36599.rmdup.bam	chr7	91706434	91707765	DUP	AKAP9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36602.rmdup.bam	chr7	91642987	91644217	DUP	AKAP9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36603.rmdup.bam	chr19	4090045	4091382	DUP	MAP2K2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36604.rmdup.bam	chr3	52487409	52488629	DUP	TNNC1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36605.rmdup.bam	chrX	31139444	31140664	DUP	DMD	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36606.rmdup.bam	chr1	237960761	237962045	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36607.rmdup.bam	chr18	28654073	28655449	DUP	DSC2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36608.rmdup.bam	chr6	112479358	112480658	DUP	LAMA4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36611.rmdup.bam	chr1	237803621	237804877	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36612.rmdup.bam	chr1	237518665	237519885	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36614.rmdup.bam	chr15	48779734	48781265	DUP	FBN1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36615.rmdup.bam	chr12	98930677	98931925	DUP	TMPO	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36707.rmdup.bam	chr12	2717001	2718453	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36708.rmdup.bam	chr19	589294	591254	DUP	HCN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36709.rmdup.bam	chr15	38613866	38615185	DUP	SPRED1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36710.rmdup.bam	chr3	38834655	38836052	DUP	SCN10A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36713.rmdup.bam	chr5	37323518	37324784	DUP	NUP155	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36715.rmdup.bam	chr6	112479358	112480658	DUP	LAMA4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36717.rmdup.bam	chr5	127685984	127687272	DUP	FBN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36718.rmdup.bam	chr1	21570804	21572174	DUP	ECE1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36719.rmdup.bam	chr11	119169629	119171041	DUP	CBL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36720.rmdup.bam	chr3	38780430	38781755	DUP	SCN10A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36721.rmdup.bam	chr16	15916536	15917844	DUP	MYH11	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36722.rmdup.bam	chr15	48765876	48767423	DUP	FBN1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36723.rmdup.bam	chr1	236907350	236908651	DUP	ACTN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36724.rmdup.bam	chr10	112744810	112746098	DUP	SHOC2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36725.rmdup.bam	chr14	50604753	50606078	DUP	SOS2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36726.rmdup.bam	chr3	38671226	38672496	DUP	SCN5A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36730.rmdup.bam	chr7	140623689	140625154	DUP	BRAF	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36732.rmdup.bam	chrX	119588636	119590000	DUP	LAMP2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36733.rmdup.bam	chr1	237956591	237957873	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36735.rmdup.bam	chr2	189851209	189852441	DUP	COL3A1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36743.rmdup.bam	chr14	50640596	50641846	DUP	SOS2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36746.rmdup.bam	chr5	127872417	127873897	DUP	FBN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36749.rmdup.bam	chr1	237433221	237434491	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36750.rmdup.bam	chr3	32206730	32207952	DUP	GPD1L	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36751.rmdup.bam	chr20	32004949	32006304	DUP	SNTA1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36753.rmdup.bam	chr15	63348608	63349892	DUP	TPM1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36754.rmdup.bam	chr15	66726789	66728150	DUP	MAP2K1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36755.rmdup.bam	chr1	201332800	201334128	DUP	TNNT2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36760.rmdup.bam	chr7	91644867	91646157	DUP	AKAP9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36767.rmdup.bam	chr15	66773517	66774793	DUP	MAP2K1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36781.rmdup.bam	chr7	91699643	91700899	DUP	AKAP9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36782.rmdup.bam	chr6	133702944	133704164	DUP	EYA4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36792.rmdup.bam	chr1	92199757	92201092	DUP	TGFBR3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36794.rmdup.bam	chr19	602865	604645	DUP	HCN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36795.rmdup.bam	chr1	116243310	116244623	DUP	CASQ2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36796.rmdup.bam	chr6	123572958	123574178	DUP	TRDN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36811.rmdup.bam	chr15	48807008	48808300	DUP	FBN1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36812.rmdup.bam	chr3	30715021	30716313	DUP	TGFBR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36813.rmdup.bam	chr12	2690180	2691538	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36814.rmdup.bam	chr4	114238287	114239541	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36815.rmdup.bam	chr12	2775276	2776524	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36816.rmdup.bam	chr7	140452499	140453769	DUP	BRAF	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36817.rmdup.bam	chr10	43621447	43622745	DUP	RET	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36818.rmdup.bam	chr5	127647750	127649063	DUP	FBN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36819.rmdup.bam	chr1	218608736	218610064	DUP	TGFB2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36820.rmdup.bam	chr10	112579254	112580510	DUP	RBM20	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36824.rmdup.bam	chr7	82072005	82073425	DUP	CACNA2D1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36825.rmdup.bam	chr11	2548581	2549924	DUP	KCNQ1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36826.rmdup.bam	chr12	2594694	2596004	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36827.rmdup.bam	chr10	75848378	75849682	DUP	VCL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36828.rmdup.bam	chr3	8786535	8788105	DUP	CAV3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36829.rmdup.bam	chr1	237754463	237755729	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36834.rmdup.bam	chr2	40387329	40388579	DUP	SLC8A1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36835.rmdup.bam	chr7	82072005	82073425	DUP	CACNA2D1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36836.rmdup.bam	chr1	21553848	21555110	DUP	ECE1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36837.rmdup.bam	chr5	127615308	127616584	DUP	FBN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36838.rmdup.bam	chr15	48740389	48741665	DUP	FBN1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36839.rmdup.bam	chr22	40069392	40070614	DUP	CACNA1I	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36840.rmdup.bam	chr22	40063721	40064961	DUP	CACNA1I	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36841.rmdup.bam	chr7	154263351	154264577	DUP	DPP6	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36842.rmdup.bam	chr1	162256558	162257802	DUP	NOS1AP	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36843.rmdup.bam	chr5	37291451	37292715	DUP	NUP155	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36844.rmdup.bam	chr6	112512261	112513628	DUP	LAMA4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36845.rmdup.bam	chr15	48702636	48704151	DUP	FBN1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36847.rmdup.bam	chr18	29177955	29179189	DUP	TTR	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36848.rmdup.bam	chr6	7566034	7567290	DUP	DSP	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36849.rmdup.bam	chr2	39221688	39223104	DUP	SOS1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36851.rmdup.bam	chr1	237796302	237797586	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36852.rmdup.bam	chr11	119157986	119159232	DUP	CBL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36854.rmdup.bam	chr2	179657555	179658843	DUP	TTN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36857.rmdup.bam	chr5	127598541	127599923	DUP	FBN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36860.rmdup.bam	chr19	604384	605899	DUP	HCN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36861.rmdup.bam	chr4	186434847	186436067	DUP	PDLIM3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36862.rmdup.bam	chr10	90698687	90700031	DUP	ACTA2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36863.rmdup.bam	chr10	43597213	43598653	DUP	RET	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36867.rmdup.bam	chr6	7566034	7567290	DUP	DSP	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36868.rmdup.bam	chr1	236902026	236903408	DUP	ACTN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36872.rmdup.bam	chr2	39346801	39348213	DUP	SOS1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36873.rmdup.bam	chr12	21968121	21969403	DUP	ABCC9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36876.rmdup.bam	chr5	45303125	45304516	DUP	HCN1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36877.rmdup.bam	chr11	2608224	2609597	DUP	KCNQ1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36880.rmdup.bam	chr16	15825845	15827141	DUP	MYH11	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36881.rmdup.bam	chr10	75868153	75869490	DUP	VCL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36886.rmdup.bam	chr7	81619921	81621141	DUP	CACNA2D1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36894.rmdup.bam	chr4	114263597	114264873	DUP	ANK2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36895.rmdup.bam	chr6	112505863	112507125	DUP	LAMA4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36896.rmdup.bam	chr12	22015311	22016563	DUP	ABCC9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36901.rmdup.bam	chr4	120057121	120058341	DUP	MYOZ2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36902.rmdup.bam	chr3	189603607	189604915	DUP	TP63	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36903.rmdup.bam	chr1	162256558	162257802	DUP	NOS1AP	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36904.rmdup.bam	chr5	127615308	127616584	DUP	FBN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36906.rmdup.bam	chr11	123515718	123517034	DUP	SCN3B	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36907.rmdup.bam	chr7	91728425	91729759	DUP	AKAP9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36908.rmdup.bam	chr10	69917667	69918959	DUP	MYPN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36909.rmdup.bam	chr5	217820	219208	DUP	SDHA	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36914.rmdup.bam	chr7	154680406	154681815	DUP	DPP6	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36915.rmdup.bam	chr1	236898359	236899595	DUP	ACTN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36919.rmdup.bam	chr1	147229704	147231896	DUP	GJA5	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36923.rmdup.bam	chr9	108369524	108370808	DUP	FKTN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36924.rmdup.bam	chr3	12647124	12648374	DUP	RAF1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36925.rmdup.bam	chr7	151260588	151261886	DUP	PRKAG2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36927.rmdup.bam	chr1	115255844	115257175	DUP	NRAS	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36928.rmdup.bam	chr7	91691012	91692376	DUP	AKAP9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36929.rmdup.bam	chr22	39993479	39994843	DUP	CACNA1I	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36933.rmdup.bam	chr7	140477215	140478451	DUP	BRAF	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36934.rmdup.bam	chr1	21573137	21574433	DUP	ECE1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36935.rmdup.bam	chr1	237669434	237670690	DUP	RYR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36936.rmdup.bam	chr3	38617576	38618848	DUP	SCN5A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36937.rmdup.bam	chr16	1264296	1266270	DUP	CACNA1H	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36940.rmdup.bam	chr11	118022747	118023967	DUP	SCN4B	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36943.rmdup.bam	chr10	75856386	75857666	DUP	VCL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36944.rmdup.bam	chr3	189348738	189349958	DUP	TP63	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36945.rmdup.bam	chr17	48638169	48639739	DUP	CACNA1G	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36946.rmdup.bam	chr12	2557566	2558856	DUP	CACNA1C	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36947.rmdup.bam	chr15	38616377	38617597	DUP	SPRED1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36948.rmdup.bam	chr7	140453400	140454620	DUP	BRAF	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36949.rmdup.bam	chr7	128470038	128471722	DUP	FLNC	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36950.rmdup.bam	chr19	16592684	16594172	DUP	CALR3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36951.rmdup.bam	chr7	140480800	140482068	DUP	BRAF	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36952.rmdup.bam	chr6	123714185	123715405	DUP	TRDN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36960.rmdup.bam	chr3	38603330	38604703	DUP	SCN5A	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36962.rmdup.bam	chr2	179465004	179467893	DUP	TTN	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36964.rmdup.bam	chr15	67479127	67480423	DUP	SMAD3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36965.rmdup.bam	chr5	127865712	127866962	DUP	FBN2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36966.rmdup.bam	chr1	162334618	162335934	DUP	NOS1AP	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36970.rmdup.bam	chr14	90867027	90868321	DUP	CALM1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36971.rmdup.bam	chr10	112558969	112560251	DUP	RBM20	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36972.rmdup.bam	chr11	119141869	119143167	DUP	CBL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36973.rmdup.bam	chr6	133595253	133596544	DUP	EYA4	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36989.rmdup.bam	chr5	227724	229024	DUP	SDHA	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36992.rmdup.bam	chr3	12647124	12648374	DUP	RAF1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36993.rmdup.bam	chr11	119102581	119103981	DUP	CBL	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36994.rmdup.bam	chr17	48652278	48654312	DUP	CACNA1G	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36997.rmdup.bam	chr7	91644867	91646157	DUP	AKAP9	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36999.rmdup.bam	chr16	15875666	15876910	DUP	MYH11	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37000.rmdup.bam	chr3	30712554	30714504	DUP	TGFBR2	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37001.rmdup.bam	chr17	39920289	39921995	DUP	JUP	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37002.rmdup.bam	chr7	81625919	81627141	DUP	CACNA2D1	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37003.rmdup.bam	chr19	16594165	16595502	DUP	CALR3	3	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37004.rmdup.bam	chr1	236849323	236850775	DUP	ACTN2	3	single
