/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB36462.rmdup.bam	chr12	21998007	21999295	DEL	ABCC9	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB37875.rmdup.bam	chr6	75890122	75891458	DEL	COL12A1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38126.rmdup.bam	chr9	137653189	137654405	DEL	COL5A1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38127.rmdup.bam	chr12	22068066	22069378	DEL	ABCC9	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38128.rmdup.bam	chr1	218577935	218579247	DEL	TGFB2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38129.rmdup.bam	chr1	237814135	237815375	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38130.rmdup.bam	chr18	3173358	3174781	DEL	MYOM1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38136.rmdup.bam	chr5	37333029	37334269	DEL	NUP155	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38137.rmdup.bam	chr6	133803591	133804831	DEL	EYA4	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38138.rmdup.bam	chr10	121431239	121432695	DEL	BAG3	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38140.rmdup.bam	chr9	137676256	137677520	DEL	COL5A1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38141.rmdup.bam	chr15	52439068	52440308	DEL	GNB5	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38143.rmdup.bam	chr14	50624703	50625943	DEL	SOS2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38144.rmdup.bam	chr4	114231826	114233138	DEL	ANK2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38145.rmdup.bam	chr20	61047926	61049166	DEL	GATA5	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38146.rmdup.bam	chrX	31854254	31855518	DEL	DMD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38147.rmdup.bam	chr16	15846675	15847939	DEL	MYH11	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38148.rmdup.bam	chr12	21994670	21995982	DEL	ABCC9	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38149.rmdup.bam	chrX	107908156	107909396	DEL	COL4A5	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38150.rmdup.bam	chrX	32482127	32483391	DEL	DMD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38151.rmdup.bam	chr12	112923731	112924971	DEL	PTPN11	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38152.rmdup.bam	chr7	91642982	91644222	DEL	AKAP9	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38153.rmdup.bam	chr22	21339549	21340765	DEL	LZTR1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38154.rmdup.bam	chr7	35292523	35293811	DEL	TBX20	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38155.rmdup.bam	chr15	48904627	48905867	DEL	FBN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38156.rmdup.bam	chr9	137717061	137718325	DEL	COL5A1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38157.rmdup.bam	chr2	179602279	179603615	DEL	TTN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38158.rmdup.bam	chr3	38649065	38650281	DEL	SCN5A	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38162.rmdup.bam	chr3	14174653	14175893	DEL	TMEM43	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38163.rmdup.bam	chr15	48757183	48758628	DEL	FBN1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38168.rmdup.bam	chr9	137726289	137727577	DEL	COL5A1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38170.rmdup.bam	chr12	112883496	112884784	DEL	PTPN11	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38171.rmdup.bam	chr4	114238281	114239545	DEL	ANK2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38497.rmdup.bam	chr3	141277145	141278385	DEL	RASA2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38558.rmdup.bam	chr5	131713271	131714753	DEL	SLC22A5	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38561.rmdup.bam	chr18	45422365	45423653	DEL	SMAD2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38562.rmdup.bam	chr18	3066726	3068086	DEL	MYOM1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38563.rmdup.bam	chr6	76590826	76592114	DEL	MYO6	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38566.rmdup.bam	chr1	237867933	237869221	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38567.rmdup.bam	chr5	127674044	127675332	DEL	FBN2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38570.rmdup.bam	chrX	119579576	119580864	DEL	LAMP2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38571.rmdup.bam	chr7	81603187	81604451	DEL	CACNA2D1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38574.rmdup.bam	chr12	114839045	114840309	DEL	TBX5	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38575.rmdup.bam	chr1	237764747	237765987	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38576.rmdup.bam	chr4	65240307	65241523	DEL	TECRL	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38577.rmdup.bam	chr7	92083287	92084527	DEL	GATAD1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38578.rmdup.bam	chr6	76579786	76580978	DEL	MYO6	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38579.rmdup.bam	chr6	123709085	123710277	DEL	TRDN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38580.rmdup.bam	chr19	16592682	16594174	DEL	CALR3	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38589.rmdup.bam	chr7	91737233	91738521	DEL	AKAP9	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38592.rmdup.bam	chr1	237861686	237862902	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38595.rmdup.bam	chr18	45396270	45397510	DEL	SMAD2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38596.rmdup.bam	chr5	127713879	127715167	DEL	FBN2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38614.rmdup.bam	chr1	156084183	156085591	DEL	LMNA	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38616.rmdup.bam	chr5	37340611	37341923	DEL	NUP155	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38617.rmdup.bam	chr18	25569531	25570843	DEL	CDH2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38620.rmdup.bam	chr15	30247856	30249144	DEL	TJP1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38621.rmdup.bam	chr1	237654520	237655808	DEL	RYR2	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38623.rmdup.bam	chr5	177030644	177032076	DEL	B4GALT7	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38630.rmdup.bam	chr6	123702681	123703873	DEL	TRDN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38632.rmdup.bam	chr16	15851150	15852390	DEL	MYH11	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38633.rmdup.bam	chr15	66776796	66778060	DEL	MAP2K1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38634.rmdup.bam	chr10	67862340	67863580	DEL	CTNNA3	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38635.rmdup.bam	chr5	156073889	156075129	DEL	SGCD	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38636.rmdup.bam	chrX	11315813	11316993	DEL	AMELX-E05	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38637.rmdup.bam	chr10	69907534	69908798	DEL	MYPN	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38638.rmdup.bam	chr2	39238733	39240021	DEL	SOS1	1	single
/home/ocanal/Desktop/CNV_detection_on_targeted_sequencing/analysis_bams/RB38639.rmdup.bam	chr7	94047229	94048445	DEL	COL1A2	1	single
